
.modal.fade(id='modal-edit')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true'): img(src="images/close.png", alt="")
        h2 Редактирование
      .modal-body
          form.form-block.margtop0
              .row
                  .cell.cell__xs-6
                      h4 Тахограф
                      .form__group
                          fieldset
                              input.form-control.edited(type='text', name='mode', autocomplete='off', value="Дополнительная плата: V112", required)
                              label Серийный номер тахографа
                              span.require *
                      .form__group
                          fieldset
                              select.select-hard(style="width: 100%;")
                                  option
                                  option Дополнительная плата: V112
                                  option Дополнительная плата: V113
                                  option Дополнительная плата: V114
                              //input.form-control(type='text', name='mode1', autocomplete='off', value="Дополнительная плата: V112", required)
                              label Модель
                              span.require *
                      .form__group
                          fieldset
                              select.select-hard(style="width: 100%;")
                                  option
                                  option Дополнительная плата: V112
                                  option Дополнительная плата: V113
                                  option Дополнительная плата: V114
                              //input.form-control(type='text', name='mode1', autocomplete='off', value="Дополнительная плата: V112", required)
                              label Номер версии ПО
                              span.require *
                      .form__group
                          fieldset
                              input.form-control.edited.date(type='text', name='mode3', autocomplete='off', value="12 апреля 2016", required)
                              label Дата изготовления
                              span.require *
                      .form__group
                          fieldset
                              input.form-control.edited.date(type='text', name='mode4', autocomplete='off', value="12 апреля 2016", required)
                              label Дата поверки
                              span.require *
                      .form__group
                          fieldset
                              input.form-control.edited.date(type='text', name='mode5', autocomplete='off', value="12 апреля 2016 - 15 апреля 2016", required)
                              label Срок действия поверки
                              span.require *
                  .cell.cell__xs-6
                      .relative
                          .absolite-content.middle.text--right
                              +fieldCheckbox('Удалить блок', 'del', false)
                          h4 Блок СКЗИ
                      .form__group
                          fieldset
                              input.form-control.edited(type='text', name='mode6', autocomplete='off', value="V112", required)
                              label Серийный номер СКЗИ
                      .form__group
                          p: b Модель
                          p Блок СКЗИ тахографа "НКМ-1" ИПФШ.467756.001
                      .form__group
                          p: b Номер версии ПО
                          p 1.0
                      .form__group
                          p: b Дата изготовления
                          p 01.01.2016
                      .form__group
                          p: b Дата поверки
                          p 01.01.2016
                      .form__group
                          p: b Срок действия поверки
                          p 01.10.2016-01.10.2017
              .this-or-this.margtop20
                  .this-or-this__this
                      span.require *
                      |  Поля, обязательные для заполнения
                  .this-or-this__this.text--right
                      ul.list--inline
                          li: button.btn.btn--primary.btn__lg(type="submit") сохранить
                          li: button.btn.btn--transparent.btn__lg(type="reset") отменить

.modal.fade(id='modal-tahedit')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true'): img(src="images/close.png", alt="")
        h2 Добавление тахографа
      .modal-body
          form.form-block.margtop0
              .row
                  .cell.cell__xs-6
                      h4 Тахограф
                      .form__group
                          fieldset
                              input.form-control.edited(type='text', name='mode', autocomplete='off', value="Дополнительная плата: V112", required)
                              label Серийный номер тахографа
                              span.require *
                      .form__group
                          fieldset
                              select.select-hard(style="width: 100%;")
                                  option
                                  option Дополнительная плата: V112
                                  option Дополнительная плата: V113
                                  option Дополнительная плата: V114
                              label Модель
                              span.require *
                      .form__group
                          fieldset
                              select.select-hard(style="width: 100%;")
                                  option
                                  option Дополнительная плата: V112
                                  option Дополнительная плата: V113
                                  option Дополнительная плата: V114
                              label Номер версии ПО
                              span.require *
                      .form__group
                          fieldset
                              input.form-control.edited.date(type='text', name='mode3', autocomplete='off', value="12 апреля 2016", required)
                              label Дата изготовления
                              span.require *
                      .form__group
                          fieldset
                              input.form-control.edited.date(type='text', name='mode4', autocomplete='off', value="12 апреля 2016", required)
                              label Дата поверки
                              span.require *
                      .form__group
                          fieldset
                              input.form-control.edited.date-range(type='text', name='mode5', autocomplete='off', value="12 апреля 2016 - 15 апреля 2016", required)
                              label Срок действия поверки
                              span.require *
                  .cell.cell__xs-6
                      h4 Блок СКЗИ
                      .form__group
                          fieldset
                              input.form-control.edited(type='text', name='mode6', autocomplete='off', value="12Л222245454545", required)
                              label Серийный номер СКЗИ
                      .form__group
                          p: b Модель
                          p Блок СКЗИ тахографа "НКМ-1" ИПФШ.467756.001
                      .form__group
                          p: b Номер версии ПО
                          p 1.0
                      .form__group
                          p: b Дата изготовления
                          p 01.01.2016
                      .form__group
                          p: b Дата поверки
                          p 01.01.2016
                      .form__group
                          p: b Срок действия поверки
                          p 01.10.2016-01.10.2017
              .this-or-this.margtop20
                  .this-or-this__this
                      span.require *
                      |  Поля, обязательные для заполнения
                  .this-or-this__this.text--right
                      ul.list--inline
                          li: button.btn.btn--primary.btn__lg(type="submit") сохранить
                          li: button.btn.btn--transparent.btn__lg(type="reset") отменить

.modal.fade(id='modal-skzi')
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true'): img(src="images/close.png", alt="")
        h2 Редактирование
      .modal-body
          form.form-block.margtop0
              h4 Блок СКЗИ
              .form__group
                  fieldset
                      input.form-control.edited(type='text', name='mode', autocomplete='off', value="Дополнительная плата: V112", required)
                      label Серийный номер тахографа
                      span.require *
              .form__group
                  fieldset
                      select.select-hard(style="width: 100%;")
                          option
                          option Блок СКЗИ тахографа "НКМ-1" ИПФ
                          option Блок СКЗИ тахографа "НКМ-1" ИП
                          option Блок СКЗИ тахографа "НКМ-1"
                      label Модель
                      span.require *
              .form__group
                  fieldset
                      select.select-hard(style="width: 100%;")
                          option
                          option 1.0
                          option 2.0
                          option 3.0
                      label Номер версии ПО
                      span.require *
              .form__group
                  fieldset
                      input.form-control.edited.date(type='text', name='mode3', autocomplete='off', value="12 апреля 2016", required)
                      label Дата изготовления
                      span.require *
              .form__group
                  fieldset
                      input.form-control.edited.date(type='text', name='mode4', autocomplete='off', value="12 апреля 2016", required)
                      label Дата поверки
                      span.require *
              .form__group
                  fieldset
                      input.form-control.edited.date-range(type='text', name='mode5', autocomplete='off', value="12 апреля 2016 - 15 апреля 2016", required)
                      label Срок действия поверки
                      span.require *
              .margtop20
                  p
                      span.require *
                      |  Поля, обязательные для заполнения
                  ul.list--inline
                      li: button.btn.btn--primary.btn__lg(type="submit") сохранить
                      li: button.btn.btn--transparent.btn__lg(type="reset") отменить

.modal.fade(id='modal-skziA')
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true'): img(src="images/close.png", alt="")
        h2 Добавить блок СКЗИ
      .modal-body
          form.form-block.margtop0
              .form__group
                  fieldset
                      input.form-control.edited(type='text', name='mode', autocomplete='off', value="Дополнительная плата: V112", required)
                      label Серийный номер тахографа
                      span.require *
              .form__group
                  fieldset
                      select.select-hard(style="width: 100%;")
                          option
                          option Блок СКЗИ тахографа "НКМ-1" ИПФ
                          option Блок СКЗИ тахографа "НКМ-1" ИП
                          option Блок СКЗИ тахографа "НКМ-1"
                      label Модель
                      span.require *
              .form__group
                  fieldset
                      select.select-hard(style="width: 100%;")
                          option
                          option 1.0
                          option 2.0
                          option 3.0
                      label Номер версии ПО
                      span.require *
              .form__group
                  fieldset
                      input.form-control.edited.date(type='date', name='mode3', autocomplete='off', value="12 апреля 2016", required)
                      label Дата изготовления
                      span.require *
              .form__group
                  fieldset
                      input.form-control.edited.date(type='date', name='mode4', autocomplete='off', value="12 апреля 2016", required)
                      label Дата поверки
                      span.require *
              .form__group
                  fieldset
                      input.form-control.edited.date-range(type='date', name='mode5', autocomplete='off', value="12 апреля 2016 - 15 апреля 2016", required)
                      label Срок действия поверки
                      span.require *
              .margtop20
                  p
                      span.require *
                      |  Поля, обязательные для заполнения
                  ul.list--inline
                      li: button.btn.btn--primary.btn__lg(type="submit") сохранить
                      li: button.btn.btn--transparent.btn__lg(type="reset") отменить

.modal.fade(id='modal-sign')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true'): img(src="images/close.png", alt="")
        h2 Подпись действия
      .modal-body
          .margbot30
              p Действие необходимо подписать с помощью ключа. Пожалуйста, подключите RuTocken к  компьютеру.
              .text--right.margtop20
                a.btn.btn--primary.btn__lg(href="#") подписать

.modal.fade(id='modal-img')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true'): img(src="images/close.png", alt="")
        h2 Прикрепите документ
            br
            | из правоохранительных органов
      .modal-body
          .margbot30
              .dropbox__inner
                  input.input__file-js(type="file", multiple)
                  img(src="../images/dropbox-img.png", alt="")
                  p.input__text-js
                      span.text--primary.text__md Выбрать файл
                      br
                      span.text--default.text__sm или перетащите сюда файл, чтобы прикрепить его
              .text--right.margtop20
                a.btn.btn--primary.btn__lg(href="#") далее

.modal.fade(id='modal-add')
  .modal-dialog.modal-sm
    .modal-content
      .modal-body
        .padtop20.padbot20
          button.close(type='button', data-dismiss='modal', aria-hidden='true'): img(src="images/close.png", alt="")
          .pull-left
            img.margright10(src="images/add-ico.png", alt="")
          h2.pull-left Запись
            br
            | успешно подписана
          .clearfix