nav.nav.main-nav
    button.main-nav__toggle.main-nav__toggle--closed.main-nav__toggle--js
        span.icon-bar &nbsp;
        span.icon-bar &nbsp;
        span.icon-bar &nbsp;
        span.icon-bar &nbsp;
    .main-nav__collapse
        +menu(navigationm)
    .hidden__lg.main-nav__icons
        .input__group
            input.form-control(type="search", name="search", placeholder="Введите название услуги")
            .input__group--btn.mobile--btn
                a.btn.btn--primary.btn__sm(href='#'): img(src="images/ico-search.png", alt="")
        //a.mobile--btn(href='#')
        //    img(src="images/ico-search.png", alt="")
        a(href='#'): img(src="images/exit-ico.png", alt="")