ul.pagination
    if title == 'Где купить и установить'
        li.abs-pag: p: b Отображено 5 из 15 адресов
    li.pagination__item.arr
        a(href='#'): i.icon-left-open
    li.pagination__item.active
        a(href='#') 1
    li.pagination__item
        a(href='#') 2
    li.pagination__item
        a(href='#') 3
    li.pagination__item
        a(href='#') ...
    li.pagination__item
        a(href='#') 10
    li.pagination__item.arr
        a(href='#'): i.icon-right-open