section.index-white
    .container
        h1 Популярные вопросы
        .index-question
            .tabs
                ul.tabs__caption
                    li.active.btn.btn--default Тахографические карты
                    li.btn.btn--default Оборудование
                    li.btn.btn--default Статусы
                    li.btn.btn--default Оборудование
                .tabs__content.active
                    .row
                        - for (var x = 1; x < 4; x++)
                            .cell.cell__lg-4.cell__md-4.cell__xs-12
                                .index-question__item
                                    p.text__md.text--grey Тахографические карты
                                    h4.margtop20 Могут ли быть загружены
                                        br
                                        | данные с цифрового тахографа?
                                    p.text__md.text--default В разделе описана работа с данными по
                                        br
                                        | тахографам: просмотр, поиск и управление ими...
                                    b.text__md: a.text--primary(href="#") Полный ответ
                - for (var y = 1; y < 4; y++)
                    .tabs__content
                        .row
                            - for (var x = 1; x < 4; x++)
                                .cell.cell__lg-4.cell__md-4.cell__xs-12
                                    .index-question__item
                                        p.text__md.text--grey Оборудование
                                        h4.margtop20 Могут ли быть загружены
                                            br
                                            | данные с цифрового тахографа?
                                        p.text__md.text--default В разделе описана работа с данными по
                                            br
                                            | тахографам: просмотр, поиск и управление ими...
                                        b.text__md: a.text--primary(href="#") Полный ответ
            include _q-banner