//
// Partials -> Footer
// ------------------------------------


//
// Footer
//
.footer {
  padding: 40px 0 20px;
  background-color: $base-color-main;
  color: #fff;
  a {color: #fff}
  @media (min-width: $screen-tablet) {
    padding: 40px 0;
    span {
      display: block;
    }
  }
  &-menu {
    margin-bottom: 20px;
    .title {
      color: #fff;
      font-size: 18px;
      cursor: pointer;
      @media (min-width: $screen-tablet) {
        margin-bottom: 20px;
        cursor: default;
      }
      b {
        &::after {
          content: '\f107';
          font-family: "fontello";
          margin-left: 10px;
          color: #fff;
          @media (min-width: $screen-tablet) {
            display: none;
          }
        }
      }
    }
    li:not(.title) {
      display: none;
      @media (min-width: $screen-tablet) {
        display: block;
      }
    }
    &.active li {
      display: block;
      b {
        &::after {
          content: '\f106';
        }
      }
    }
    a {
      color: rgba(255,255,255,0.7);
      line-height: 30px;
      font-size: 15px;
    }
    &-m {
      margin-bottom: 20px;
    }
  }
  b {
    color: #fff;
  }
}

.developer {
  @media (min-width: $screen-tablet) {
    span {
      display: block;
    }
  }
}
.social {
  margin-top: 10px;
  a {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    display: block;
    //margin: 0 5px;
    border: 2px solid rgba(255,255,255,0.4);
    border-radius: 5px;
    &:hover {
      background: #004c8c;
    }
  }
}

.copyright {
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}