//
// Partials -> Header
// ------------------------------------


//
// Header
//
.page-header {
  //min-width: 1215px;
  @include clearfix();
  &__top {
    .navbar {
      display: table;
      width: 100%;
    }
    padding: 25px 0;
    background-color: #f4f7f8;
  }
  &__bottom {
    background-color: $base-color-main;
  }
  &__desc {
    //display: table-cell;
    vertical-align: middle;
    @media (min-width: $screen-tablet) {
      display: table-cell;
    }
    b {
      //float: left;
      //margin-right: 28px;
      font-size: 15px;
      display: inline-block;
      margin-top: 10px;
      color: #1a2f63;
      //font-weight: 700;
      line-height: 1.2;
      @media (min-width: $screen-tablet) {
        color: $base-color-main;
        margin-top: 0;
        font-size: 18px;
      }
    }
  }
  &__logo {
    display: table-cell;
    vertical-align: middle;
    a {text-decoration: none;}
    img {
      vertical-align: middle;
      float: left;
      max-width: 200px;
      @media (min-width: $screen-xlg-desktop) {
        max-width: 100%;
      }
    }
  }
  &__ava {
    margin-left: 70px;
    display: table-cell;
    vertical-align: middle;
    a {text-decoration: none;}
    img {
      float: left;
    }
    span {
      float: left;
      margin-left: 16px;
      font-weight: 700;
      line-height: 1.2;
    }
  }
  &__call {
    vertical-align: middle;
    text-align: center;
    @media (min-width: $screen-tablet) {
      display: table-cell;
      text-align: left;
    }
    img {
      vertical-align: middle;
    }
    a {
      font-weight: 700;
      color: $base-color-main;
      text-decoration: none;
      border-bottom: 1px dotted $base-color-main;
      &:hover {
        border-color: transparent;
      }
    }
  }
  &__search {
    display: table-cell;
    vertical-align: middle;
  }
}
.main-nav {
  &__items {
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;
  }
  &__item {
    display: table-cell;
    //font-size: 15px;
    font-weight: 500;
    @media (min-width: $screen-xlg-desktop) {
      font-size: 15px;
      font-weight: 700;
    }
    a {
      background-color: $base-color-main;
      display: block;
      padding: 20px;
      text-decoration: none;
      color: white;
      text-align: center;
      &:hover {
        background-color: $base-color-dark;
      }
    }
  }
}

.lk-style {
  display: none;
  span {
    border-bottom: 1px dotted #fff;
    display: none;
    margin-left: 9px;
    @media (min-width: $screen-xlg-desktop) {
      display: inline-block;
    }
  }

  a:hover span{
    border-color: transparent;
  }
  @media (min-width: $screen-adaptive-nav) {
    display: inline-block;
  }
}

//
// Main title
//
.title { }


//
// old-browser
//
.browsehappy {
  @extend .container;
}
.lt-ie8 { }