//
// Partials -> Main
// ------------------------------------


//
// Main container
//
.page-main {
}

.v-top {
  vertical-align: top !important;
}

.page-500 {
  background: url("../images/500err.jpg") no-repeat center center ;
  //height: 100%;
  min-height: 100vh;
  //position: relative;
  padding-top: 30px;
  @media (min-width: $screen-tablet) {
    padding-top: 100px;
    background: url("../images/500err-s.jpg") no-repeat center bottom ;
  }
}
.page-404 {
  background: url("../images/404err.jpg") no-repeat center center ;
  //height: 100%;
  min-height: 620px;
  //position: relative;
  padding-top: 30px;
  @media (min-width: $screen-tablet) {
    min-height: 750px;
    padding-top: 100px;
    background: url("../images/404err-s.jpg") no-repeat center bottom ;
  }
}

.dropbox {
  display: table;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.06);
  //text-align: center;
  //padding: 28px 28px 17px;
  margin: 40px 0;
  padding: 0 30px;
  &__item {
    display: table-cell;
    vertical-align: middle;
    padding: 30px 10px 30px 30px;
  }
  &__inner {
    border: 1px dashed #0063b0;
    border-radius: 5px;
    padding: 30px 40px;
    position: relative;
    @include clearfix();
    img {
      float: left;
    }
    p {
      float: left;
      margin-left: 14px;
      margin-bottom: 0;
    }
    input[type="file"] {
      opacity: 0;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      cursor: pointer;
    }
  }
  h1 {
    margin: 0;
  }
}

.slider-line {
  height: 8px;
  width: 128px;
  background-color: white;
  border: 1px solid #dde3e8;
  position: relative;
  margin: 5px auto 0;
  .inner {
    width: 80%;
    height: 100%;
    background-color: $base-color-main;
    border-right: 1px solid #dde3e8;
    position: absolute;
    left: 0;
  }
}
sup {color: red;}

.form-block {
  margin: 30px 0;
  &__inner {
    background-color: white;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.06);
    padding: 20px 10px;
    @media (min-width: $screen-tablet) {
      padding: 30px 30px 40px;
    }
  }
  fieldset {
    position: relative;
    .require {
      position: absolute;
      top: -14px;
      right: -8px;
    }
  }
  .select-hard ~ label,
  fieldset input:not([type='checkbox']) + label {
    position: absolute;
    top: 15px;
    left: 8px;
    color: #8c9ba9;
    font-size: 15px;
    font-weight: 400;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease-in-out;
    z-index: 9;
  }
  fieldset input {
    transition: all 0.2s ease-in-out;
    &.edited,
    &:focus {
      padding: 22px 8px 10px;
    }
    &:focus {
      outline: 0;
      //background: rgba(255,255,255,1);
    }
    &.edited + label,
    &:focus + label {
      font-size: 13px;
      transform: translate3d(0, -10px, 0);
    }
  }
  .select-hard {
    transition: all 0.2s ease-in-out;
    ~.edited.select2-container--default .select2-selection--single {
      padding: 22px 8px 10px;
    }
    &:focus {
      outline: 0;
      //background: rgba(255,255,255,1);
    }
    ~ .edited + label {
      font-size: 13px;
      transform: translate3d(0, -10px, 0);
    }
    ~ .select2-container {
      height: 55px;
      .select2-selection--single {
        height: 55px;}
    }
  }
  //select:invalid,
  //input:invalid {
  //  background-color: #fae9e9;
  //  border: 1px solid #ecc0c0;
  //}
}

.catalog-adr {
  display: table;
  width: 100%;
  padding: 0 20px;
  margin: 30px 0;
  background-color: white;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.06);
  &__item {
    display: table-cell;
    vertical-align: middle;
    padding: 30px;
  }
}
.catalog-tah {
  background-color: white;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.06);
  margin: 30px 0;
  padding: 0 8px;
  &__inner {
    width: 100%;
    padding: 10px;
    @media (min-width: $screen-tablet) {
      display: table;
      padding: 0;
    }
    & + & {
      .catalog-tah__item {
        padding-top: 0;
      }
    }
  }
  &__item {
    margin: 5px 0;
    display: inline-block;
    @media (max-width: $screen-sm-max) {
      width: 100%;
    }
    @media (min-width: $screen-tablet) {
      padding: 20px 7px;
      margin: 0;
      display: table-cell;
      vertical-align: middle;
    }
  }
  &__hide {
    display: none;
    padding-top: 11px;
    border-top: 1px dashed #e5e5e5;
    &.active {
      display: block;
    }
    h4 {
      margin: 0 0 0 8px;
    }
  }
}

.select2-container, .select2-container .select2-selection--single {height: 55px;}
.select2-container--default .select2-selection--single .select2-selection__rendered {line-height: 41px;}

input[type='date'], input.date, input:focus.date {
  //width: 310px;
  background: url("../images/date-ico.png") right 15px center no-repeat, #fdfdfd;
}
.search-adv {
  border-bottom: 2px dotted $base-color-main;
  color: $base-color-main;
  font-weight: 500;
  &:focus,
  &:active,
  &:hover {
    color: $base-color-main;
    text-decoration: none;
    border-color: transparent;
  }
}

.table-catalog {
  a:not(.btn) {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .icon-sort, .icon-sort-down, .icon-sort-up, .icon-cog {
    vertical-align: middle;
    color: $base-color-main;
  }
  span {
    vertical-align: middle;
    line-height: 1.2;
  }
  .icon-question-circle-o {
    vertical-align: text-bottom;
    color: $base-color-main;
  }
  .icon-pause-circled {
    color: #ff8b00;
  }
  .icon-ok-circled {
    color: #00b200;
  }
  .icon-cancel-circled {
    color: #e00708;
  }
  .icon-stop-circled {
    color: #afb7c0;
  }
  .icon-play-circled {
    color: #edd724;
  }
  i {vertical-align: middle;}
  tbody .checkbox label::after {
    right: 0;
    margin: auto;
  }
  .list--inline {
    li {
      vertical-align: middle;
    }
  }
  .select-transparent {
    .select2-container--default .select2-selection--single {
      border: 1px solid transparent;
      font-weight: 700;
      color: #2a2c30;
      font-size: 14px;
    }
  }
}
.select-img {
  width: 26px;
  display: inline-block;
  vertical-align: text-top !important;
}
.absolite-content {
  position: absolute;
  right: 0;
  top: -8px;
  &.top {
    top: 2px;
  }
  &.middle {
    top: 10px;
  }
  img {
    vertical-align: middle;
    margin-right: 8px;
  }
}

.acc-title {
  cursor: pointer;
  i {
    width: 15px;
    display: inline-block;
    &::before {
      content: '+ ';
      color: #0063b0;
    }
  }
  &.active i::before {
    content: '- ';
  }
}

.require {
  font-size: 18px;
  color: red;
}

.modal {
  h4, h2 {margin-top: 0;}
  h2 {line-height: 1.2;}
  .list--inline {
    margin-bottom: 0;
  }
}


.driver {
  &-img {
    background: url("../images/driver-img.jpg") no-repeat center top / cover;
    padding: 20px 0;
    color: #fff;
    @media (min-width: $screen-desktop) {
      padding: 100px 0 120px;
    }
    h1 {
      //margin-bottom: 44px;
    }
  }
  &-services {
    &__item {
      text-align: center;
      background-color: #f5f9fa;
      border-radius: 5px;
      padding: 20px;
      margin-bottom: 20px;
      @media (min-width: $screen-tablet) {
        height: 331px;
      }
      @media (min-width: $screen-desktop) {
        height: 271px;
      }
      &--img {
        margin-top: 16px;
        height: 80px;
        line-height: 80px;
        img {
          vertical-align: middle;}
      }
      &--title {
        h2 {color: #1d3346;
          margin-bottom: 20px;}
      }
    }
  }
  &-info {
    h2 {
      margin-top: 10px;
    }
  }
}

.moto {
  &-img {
    background: url("../images/moto-img.jpg") no-repeat center top / cover;
    padding: 20px 0;
    color: #fff;
    @media (min-width: $screen-desktop) {
      padding: 100px 0 120px;
    }
    h1 {
      //margin-bottom: 44px;
    }
  }
  &-services {
    &__item {
      text-align: center;
      background-color: #f5f9fa;
      border-radius: 5px;
      padding: 20px;
      margin-bottom: 20px;
      li { padding: 0;}
      @media (min-width: $screen-tablet) {
        height: 341px;
      }
      @media (min-width: $screen-desktop) {
        height: 321px;
      }
      @media (min-width: $screen-xlg-desktop) {
        height: 271px;
      }
      &--img {
        margin-top: 16px;
        height: 60px;
        line-height: 60px;
        img {
          vertical-align: middle;}
      }
      &--title {
        h2 {color: #1d3346;
          margin-bottom: 15px;}
      }
    }
  }
  &-info {
    h2 {
      margin-top: 10px;
    }
  }
}

.work {
  &-img {
    background: url("../images/work-img.jpg") no-repeat center top / cover;
    padding: 20px 0;
    color: #fff;
    @media (min-width: $screen-desktop) {
      padding: 100px 0 120px;
    }
    h1 {
      //margin-bottom: 44px;
    }
  }
  &-services {
    &__item {
      text-align: center;
      background-color: #f5f9fa;
      border-radius: 5px;
      padding: 20px;
      margin-bottom: 20px;
      li { padding: 0;}
      @media (min-width: $screen-tablet) {
        height: 341px;
      }
      @media (min-width: $screen-desktop) {
        height: 321px;
      }
      @media (min-width: $screen-xlg-desktop) {
        height: 271px;
      }
      &--img {
        margin-top: 16px;
        height: 60px;
        line-height: 60px;
        img {
          vertical-align: middle;}
      }
      &--title {
        h2 {color: #1d3346;
          margin-bottom: 15px;}
      }
    }
  }
  &-info {
    h2 {
      margin-top: 10px;
    }
  }
}

.radiotab {
  .radio label {
    color: #8c9aa9;
    font-size: 18px;
  }
  .active .radio label {
    color: #1d3346;
  }
  &--content {
    display: none;
    &.active {
      display: block;
    }
  }
}

.sitemap {
  &-menu {
    .title {
      margin-bottom: 20px;
      color: #1d3446;
      font-size: 20px;
    }
    li {
      padding: 5px 0;
    }
    a {
      //line-height: 2;
      font-size: 15px;
      color: #6a757e;
    }
  }
}
.parent {
  > a {
    &::after {
      content: '\f107';
      font-family: "fontello";
      margin-left: 10px;
      color: $base-color-main;
    }
    &:focus,
    &:active,
    &:hover {
      text-decoration: none;
      color: $base-color-main;
    }
  }
  .submenu {
    display: none;
    padding-left: 30px;
  }
  &.active {
    .submenu {
      display: block;
    }
    > a {
      &::after {
        content: '\f106';
      }
    }
  }
}
fieldset {
  position: relative;}
input:required {
  + label + span {
    color: red;
    position: absolute;
    top: 0;
    right: -10px;
  }
}

.message {
  margin-top: 30px;
  p {
    font-size: 18px;
    line-height: 1.6666;
    color: #1b3346;
  }
}

.catalog-page {
  &__item {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.05);
    padding: 35px 30px;
    margin-top: 30px;
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 14px rgba(0, 99, 176, 0.15);
    }
    h4 {
      margin-top: 0;
    }
  }
  &__title {
    @media (min-width: $screen-tablet) {
      height: 70px;
    }
  }
}

.attention {
  width: 100%;
  background-color: #f5f9fa;
  position: relative;
  margin-bottom: 25px;
  &__item {
    //display: table-cell;
    //vertical-align: middle;
    padding: 8px 20px;
  }
  @media (min-width: $screen-tablet) {
    display: table;
    &__item {
      display: table-cell;
      vertical-align: middle;
      padding: 30px;
    }
  }
  &--dark {
    background-color: #e3e9ef;
    margin-top: 20px;
    .attention__item {
      @media (min-width: $screen-tablet) {
        padding: 30px 20px;
      }
    }
    .btn {
      padding: 11px 5px;
    }
  }
}

.knowlege {
  &-list {
    &__item {
      margin-bottom: 20px;
      a {
        color: #0063b0;
      }
    }
    .title {
      font-size: 24px;
      font-weight: 700;
      color: #2a2c30;
    }
  }
  &-page {
    h2 {margin-top: 0;}
    li {
      margin-bottom: 9px;
    }
    p {margin-bottom: 15px;}
    img {
      vertical-align: middle;
      margin-right: 8px;
    }
    &__item {
      margin-bottom: 30px;
    }
  }
  &-detail {
    h2 {
      margin-top: 0;
    }
  }
}

.close-block {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}

.documents {
  &__item {
    padding: 28px 18px;
    background-color: white;
    border-radius: 5px;
    //box-shadow: -6px 7px 11px rgba(0, 99, 176, 0.15);
    box-shadow: -6px 7px 11px rgba(0, 0, 0, 0.05);
    position: relative;
    margin: 20px 0;
    display: block;
    text-decoration: none;
    .list--table > li {
      padding: 0;
    }
    @media (min-width: $screen-tablet) {
      padding: 30px 28px;
    }
    @media (min-width: $screen-xlg-desktop) {
      padding: 30px 38px;
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border-bottom: 35px solid #e3e9ef;
      border-right: 35px solid transparent;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05)
      //border-radius: 5px;
    }
    &:after {
      content: "";
      position: absolute;
      top: -6px;
      right: -6px;
      width: 0;
      height: 0;
      border-top: 50px solid #f5f9fa;
      border-left: 50px solid transparent;
    }
    &:hover {
      box-shadow: -6px 7px 11px rgba(0, 99, 176, 0.15);
      text-decoration: none;
    }
  }
  &__desc {
    //height: 280px;
    @media (min-width: $screen-tablet) {
      height: 280px;
    }
    p {
      font-size: 15px;
      color: #6a757e;
    }
  }
  &--mini {
    @media (min-width: $screen-tablet) {
      .documents__desc {
        height: 213px;
      }
      .documents__item {
        padding: 18px 23px 38px;
      }
    }
  }
  a {
    display: block;
  }
  .item {
    vertical-align: top;
    margin: 0 6px;
    display: inline-block;
  }
}

.img-pass {
  position: absolute;
  right: 20px;
  top: 22px;
}

.counter {
  position: relative;
  padding-left: 43px;
  &__num {
    color: #1b3346;
    font-size: 15px;
    font-weight: 500;
    @include border-radius(50%);
    width: 31px;
    height: 31px;
    background-color: #dae1e7;
    padding: 5px;
    display: block;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.place-card {
  display: none !important;
}

.maps {
  position: relative;
  iframe {
    height: 275px;
    //border:0;
    width:100%;
    vertical-align: middle;
    pointer-events: none;
    @media (min-width: $screen-tablet) {
      height: 611px;
    }
  }
  &-inner {
    .inner {
      left: 0;
      width: 100%;
      top: 24px;
      padding: 20px 30px;
      background-color: white;
      box-shadow: 0 0 14px rgba(0, 0, 0, 0.05);

      @media (min-width: $screen-tablet) {
        position: absolute;
        width: 370px;
      }

    }
    &__item {
      margin-bottom: 20px;
    }
    &--work {
      .inner {
        top: 108px;
      }
    }
    &--wherebuy {
      .inner {
        top: 0;
        width: 100%;
        //height: 95px;
        padding: 0;
        box-shadow: none;
        background-color: transparent;
        max-width: 1170px;
        left: 0;
        right: 0;
        margin:auto;
        .btn__lg {
          padding: 11px 25px;
        }
        &-bottom {
          text-align: center;
          width: 100%;
          //height: 55px;
          padding: 16px 10px;
          bottom: 40px;
          left: 0;
          right: 0;
          margin: auto;
          background-color: white;
          box-shadow: 0 0 14px rgba(0, 0, 0, 0.06);
          img {
            vertical-align: middle;
            margin-right: 9px;
          }
          @media (min-width: $screen-tablet) {
            li {
              margin: 0 15px;
            }
            width: 630px;
            position: absolute;
          }
        }
      }
    }
  }
}

.link-dot {
  color: $base-color-main;
  border-bottom: 1px dotted $base-color-main;
  &:hover {
    border-color: transparent;
    text-decoration: none;
    color: $base-color-main;
  }
}

.workroom {
  &-info {
    display: block;
    &__item {
      //display: inline-block;
      text-align: center;
      //display: table-cell;
      vertical-align: top;
      padding: 0 7px;
      margin-bottom: 13px;
    }
    p {margin-bottom: 0;}
    @media (min-width: $screen-tablet) {
      display: table;
      width: 100%;
      margin-bottom: 0;
      &__item {
        text-align: left;
        display: table-cell;
      }
    }
  }
}