//
// Modules -> Breadcrumbs
// --------------------------------------------------

@if $use-breadcrumb == true {
  .breadcrumbs {

    //min-width: 1215px;
    padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
    //margin: 0;
    background-color: $breadcrumb-bg;
    display: none;
    @media (min-width: $screen-tablet) {
      display: block;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;}
     li {
      display: inline-block;

      a {color: $breadcrumb-color;
        text-decoration: none;}

      &:not(:first-child):before {
        content: "#{$breadcrumb-separator}";
        padding: 0 8px;
        color: $breadcrumb-color;
      }

      &.active {
        color: $breadcrumb-active-color;
      }
    }
  }
}