//
// Modules -> Pagination (multiple pages)
// --------------------------------------------------

@if $use-pagination == true {
  .abs-pag {
    position: relative;
    left: 0;
    @media (min-width: $screen-tablet) {
      position: absolute;
      top: 10px;
    }
  }
  .pagination {
    display: block;
    padding-left: 0;
    //margin: $line-height-computed 0;
    //border-radius: $border-radius-base;
    text-align: center;
    position: relative;
    margin: 40px 0 0;

    &__item {
      display: inline-block;
      //text-transform: uppercase;
      //margin-left: -5px;
      a,
      span {
        position: relative;
        float: left;
        padding: 3px 10px;
        //line-height: $base-line-height;
        text-decoration: none;
        color: $pagination-color;
        font-size: 15px;
        font-weight: 700;
        width: 40px;
        height: 40px;
        line-height: 31px;
        //background-color: #0063b0;
        border-radius: 5px;
        border: 1px solid transparent;
      }
      &.arr {
        a {
          border: 1px solid #ced3d6;
        }
        display: none;
        @media (min-width: $screen-tablet) {
          display: inline-block;
        }
      }
    }

    &__item a,
    &__item span {
      &:hover,
      &:focus {
        z-index: 3;
        border-color: $pagination-hover-border;
      }
    }

    &__item.active a,
    &__item.active span {
      color: $pagination-active-color;
      background-color: $pagination-active-bg;
      &,
      &:hover,
      &:focus {
        z-index: 2;
        cursor: default;
      }
    }
  }
}
