//
// Pages -> Index
// ------------------------------------

.page-index { }

.actions {
  margin-top: 33px;
  &__item {
    text-align: center;
    display: block;
    text-decoration: none;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    padding: 29px 80px;
    margin-bottom: 30px;
    height: 260px;
    &--img {
      margin-bottom: 16px;
      img {
        vertical-align: middle;
      }
    }
    &:hover {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    }
  }
}

.q-banner {
  margin-top: 30px;
  background: url("../images/q-banner.jpg") no-repeat center center / cover;
  padding: 20px;
  text-align: center;
  @media (min-width: $screen-tablet) {
    padding: 51px 20px;
    text-align: left;
  }
  h2 {
    vertical-align: middle;
    //margin: 0 50px 0 43%;
    margin: 0 0 20px;
    @media (min-width: $screen-tablet) {
      display: inline-block;
      margin: 0 50px 0 20%;
    }
    @media (min-width: $screen-desktop) {
      margin: 0 50px 0 43%;
    }
  }
  .btn {
    vertical-align: middle;
  }
}

.tabs {
  &__caption {
    .btn {
      border-width: 1px;
      font-size: 18px;
      line-height: 1.1;
      margin-bottom: 10px;
    }
  }
  &__content {
    display: none;
    &.active {
      display: block;
    }
  }
}

.index {
  &-img {
    background: url("../images/main-img.jpg") no-repeat center top / cover;
    padding: 20px 0;
    @media (min-width: $screen-desktop) {
      padding: 100px 0;
    }
    h1 {
      color: #fff;
      margin-bottom: 44px;
    }
  }
  &-grey {
    padding: 20px 0;
    background-color: #f3f6f7;
    @media (min-width: $screen-tablet) {
      padding: 50px 0;
    }
    h1 {
      margin-bottom: 39px;
    }
    &--minih {
      padding-top: 20px;
      h1 {
        margin-bottom: 24px;
      }
    }
  }
  &-white {
    padding: 20px 0;
    background-color: #fff;
    @media (min-width: $screen-tablet) {
      padding: 50px 0;
    }
    h1 {
      margin-top: 0;
      margin-bottom: 49px;
    }
  }

  &-services {
    &__item {
      border-radius: 5px;
      background: #fff;
      padding: 15px;
      margin-bottom: 20px;
      @media (min-width: $screen-desktop) {
        padding: 30px;
      }

      &--title {
        text-align: center;
        h2 {
          margin-top: 5px;
        }
      }
      &--img {
        vertical-align: middle;
        text-align: center;
        @media (min-width: $screen-desktop) {
          padding: 33px 0;
        }
      }
      &--desc {
        color: #0063b0;
        line-height: 2;
        margin-bottom: 33px;
      }
      .ico-serv {
        width: 35px;
        height: 15px;
        display: inline-block;
        vertical-align: middle;
        &-1 {
          background: url("../images/ico-1.png") no-repeat center center;
        }
        &-2 {
          background: url("../images/ico-2.png") no-repeat center center;
        }
        &-3 {
          background: url("../images/ico-3.png") no-repeat center center;
        }
      }
    }
  }

  &-news {
    &__arch {
      border: 2px solid #ced3d6;
      border-radius: 5px;
      display: block;
      text-align: center;
      vertical-align: middle;
      padding: 20px;
      img {
        vertical-align: middle;
      }
      @media (min-width: $screen-tablet) {
        height: 400px;
        line-height: 370px;
      }
    }
    &__item {
      background-color: white;
      border-radius: 5px;
      box-shadow: 0 0 14px rgba(0, 0, 0, 0.05);
      margin-bottom: 20px;
      text-decoration: none;
      display: block;
      position: relative;
      &:hover {
        box-shadow: 0 0 14px rgba(0, 99, 176, 0.15);
        text-decoration: none;
      }
      @media (min-width: $screen-tablet) {
        height: 400px;
      }
      &--img {
        img {
          vertical-align: middle;
        }
      }
      &--desc {
        padding: 17px 20px 38px;
        &-nonimg {
          padding: 20px 20px 38px;
        }
        @media (min-width: $screen-xlg-desktop) {
          padding: 17px 29px 38px;
          &-nonimg {
            padding: 38px 29px;
          }
        }
      }
      &--title {
        //max-height: 145px;
        //overflow: hidden;
        h4 {
          margin-bottom: 30px;
        }
      }
      .date {
        color: #8c9ba9;
      }
      &--par {
        line-height: 22px;
        overflow: hidden;
        @media (min-width: $screen-tablet) {
          height: 144px;
        }
        @media (min-width: $screen-desktop) {
          height: 165px;
        }
        &d {
          @media (min-width: $screen-tablet) {
            height: 186px;
          }
          @media (min-width: $screen-desktop) {
            height: 207px;
          }
        }
      }
      &--link {
        text-align: right;
        position: absolute;
        bottom: 15px;
        right: 20px;
        &.left {
          left: 20px;
          right:auto;
          @media (min-width: $screen-xlg-desktop) {
            left: 30px;
          }
        }
        @media (min-width: $screen-xlg-desktop) {
          right: 29px;
        }
      }
    }
  }

  &-question {
    &__item {
      margin-top: 15px;
      margin-bottom: 15px;
      @media (min-width: $screen-tablet) {
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
  }
}



.search {
  h1 {
    margin-bottom: 15px;
  }
  &-bar {
    background-color: white;
    padding: 29px;
    input, .btn {
      height: 55px;
    }
    .form-block {margin: 0;}
    .btn {line-height: 40px;width: 140px;}
    img {vertical-align: text-bottom; margin-right: 8px;}
  }
  &-results {
    font-weight:500;
    &__item {
      padding-bottom: 23px;
    }
  }
}


.text-page {
  font-size: 15px;
  h1 {
    margin-bottom: 29px;
  }
}

.a-banner {
  background-color: #e3e9ef;
  padding: 30px;

  @media (min-width: $screen-tablet) {
   display: table;
    width: 100%;
    &__item {
      display: table-cell;
      vertical-align: middle;
      padding: 25px;
    }
  }
  h2 {
    margin-top: 0;
    margin-bottom: 25px;
  }
}

.margtop0 {
  margin-top: 0;}