footer.footer
    .container
        .row
            .cell.cell__lg-4.cell__md-6.cell__xs-12
                ul.list--unstyled.footer-menu
                    li.title: b О тахографическом контроле
                    li: a(href="#") Зачем он нужен?
                    li: a(href="#") Как осуществляется?
                    li: a(href="#") Надзорные органы
                    li: a(href="#") Каталог моделей оборудования
                    li: a(href="#") Новости
            .cell.cell__lg-3.cell__md-6.cell__xs-12
                ul.list--unstyled.footer-menu
                    li.title: b Услуги портала
                    li: a(href="#") Водителям
                    li: a(href="#") Автопредприятиям
                    li: a(href="#") Мастерским
                    li: a(href="#") Проверка оборудования
                    li: a(href="#") Проверка тахографической карты
                    li: a(href="#") Задать вопрос
                    li: a(href="#") Написать обращение
            .cell.cell__lg-2.cell__md-6.cell__xs-12
                ul.list--unstyled.footer-menu
                    li.title: b Вопросы и ответы
                    li: a(href="#") Ответственность
                    li: a(href="#") Тахографы
                    li: a(href="#") Блоки СКЗИ
                    li: a(href="#") Тахографические карты
                    li: a(href="#") Перевозки
                    li: a(href="#") Оборудование
                    li: a(href="#") Лицензирование
            .cell.cell__lg-3.cell__md-6.cell__xs-12
                ul.list--unstyled.footer-menu
                    li.title: b Где купить и установить?
                    li: a(href="#") Пункты выдачи карт
                    li: a(href="#") Мастерские
                ul.list--unstyled.footer-menu-m
                    li: a(href="#"): b Нормативные документы
                    li: a(href="#"): b Контакты
                ul.list--unstyled.footer-menu-m
                    li: b Поделиться в социальных сетях
                    ul.list--inline.social
                        li: a(href="#"): img(src="images/fa.png", alt="")
                        li: a(href="#"): img(src="images/vk.png", alt="")
        .row.margtop20
            .cell.cell__md-4.cell__md-4.cell__xs-12
                img(src="images/logo-footer.png", alt="")
            .cell.cell__md-2.cell__md-2.cell__xs-12.text__md--right.copyright.pull-right.text--left.developer
                p.text__md Разработано
                    span
                        | в &nbsp;
                        a(href="www.alko-design.ru", target="_blank") AlkoDesign
            .cell.cell__lg-6.cell__md-6.cell__xs-12
                .text__md © Портал системы тахографического контроля. 2016 г.
                p.text__xs Все права на материалы, находящиеся на сайте,охраняются в соответствии с законодательством Российской Федерации