header.page-header
    .page-header__top
        .container
            .navbar
                .page-header__desc.clearfix
                    a.hidden__md.hidden__lg.pull-left.margright10(href="/")
                        img(src="images/logo-mobile.png", alt="Company ltd.")
                    b Портал системы
                        br
                        | тахографического контроля
                .page-header__logo.hidden__sm.hidden__xs
                    a(href="/")
                        img(src="images/logo-main.png", alt="Company ltd.")
                .page-header__call
                    img(src="images/phone-ico.png", alt="Ковтун Оксана Николаевна")
                    a(href="#")  Обратный звонок
                .page-header__search.hidden__xs.hidden__sm.hidden__md.cell__lg-3
                    .input__group
                        input.form-control(type="search", name="search", placeholder="Введите название услуги")
                        .input__group--btn
                            a.btn.btn--primary.btn__sm(href='#'): img(src="images/ico-search.png", alt="")
    .page-header__bottom
        .container
            include ../components/_navbar