footer.page-footer
    .container
        .row
            .cell.cell__xs-10
                p.text__md © Портал системы тахографического контроля. 2016 г.
                p.text__xs Все права на материалы, находящиеся на сайте,охраняются в соответствии с законодательством Российской Федерации
            .cell.cell__xs-2.text--right
                p.text__md Разработано
                    br
                    | в &nbsp;
                    a(href="www.alko-design.ru", target="_blank") AlkoDesign