header.page-header
    .page-header__top
        .container
            .navbar
                .navbar__left
                    .page-header__logo
                        a(href="/")
                            img(src="images/logo.png", alt="Company ltd.")
                            span.text__lg Личный кабинет
                                br
                                | ООО "Интек"
                    .page-header__ava
                        img(src="images/ava.png", alt="Ковтун Оксана Николаевна")
                        span.text__md Ковтун Оксана Николаевна
                            br
                            a(href="/").text--primary Выйти

                .navbar__right
                    a.btn.btn--transparent(href='#') Перейти в портал
    .page-header__bottom
        .container
            include ../components/_lk-navbar