//
// Variables


//- Variables -> Base
$base-font-family:                    "Lato", Arial, sans-serif !default;
$base-font-family-serif:              "Times New Roman", serif !default;
$base-font-size:                      14px !default;
$base-font-weight:                    400 !default;
$base-line-height:                    1.471 !default;
$base-color:                          $black !default;
$base-background:                     #f3f7f8 !default;
$base-padding:                        8px;

//- Link
$link-color:                          $base-color;
$link-hover-color:                    $black-darken;
$link-decoration:                     none;


//- Variables -> Typography
$font-size-large:                     ceil(($base-font-size * 1.2857)) !default; // ~18px
$font-size-medium:                    ceil(($base-font-size * 1.07142)) !default; // ~15px
$font-size-small:                     ceil(($base-font-size * 0.92857)) !default; // ~13px
$font-size-tiny:                      ceil(($base-font-size * 0.85714)) !default; // ~12px

$font-size-h1:                        floor(($base-font-size * 2.71428)); // ~38px
$font-size-h2:                        floor(($base-font-size * 1.71428)); // ~24px
$font-size-h3:                        floor(($base-font-size * 1.25)); // ~20px
$font-size-h4:                        ceil(($base-font-size * 1.2857)); // ~18px
$font-size-h5:                        ceil(($base-font-size * 1.07142)); // ~15px
$font-size-h6:                        ceil(($base-font-size * 0.875)); // ~14px

$line-height-computed:                floor(($base-font-size * $base-line-height)); // ~22px
$line-height-computed-half:           floor(($base-font-size * $base-line-height) / 2); // ~11px

$headings-font-family:                inherit !default;
$headings-font-weight:                700 !default;
$headings-line-height:                1.3 !default;
$headings-color:                      inherit !default;

//- border-radius
$border-radius-base:                  0;
$border-radius-large:                 5px;
$border-radius-small:                 0;


//- Grid
$screen-sm:                           480px;
$screen-sm-min:                       $screen-sm;
$screen-phone:                        $screen-sm-min;

$screen-md:                           768px;
$screen-md-min:                       $screen-md;
$screen-tablet:                       $screen-md-min;

$screen-lg:                           1012px;
$screen-lg-min:                       $screen-lg;
$screen-desktop:                      $screen-lg-min;

$screen-xlg:                          1220px;
$screen-xlg-min:                      $screen-xlg;
$screen-xlg-desktop:                  $screen-xlg-min;

$screen-xs-max:                       ($screen-sm-min - 1) !default;
$screen-sm-max:                       ($screen-md-min - 1) !default;
$screen-md-max:                       ($screen-lg-min - 1) !default;

$screen-adaptive-nav:                 $screen-lg-min;

//- Number of columns in the grid system
$grid-columns:                        12;
$grid-gutter-width:                   30px;


//- Small screen / tablet
$container-mobile:                    (440px + $grid-gutter-width);
$container-sm:                        $container-mobile;

//- Small screen / tablet
$container-tablet:                    (720px + $grid-gutter-width);
$container-md:                        $container-tablet;

//- Medium screen / desktop
$container-desktop:                   (960px + $grid-gutter-width);
$container-lg:                        $container-desktop;

//- Large screen / wide desktop
$container-large-desktop:             (1170px + $grid-gutter-width);
$container-xlg:                        $container-large-desktop;

//- Btn
$btn-font-weight:                     900;

$btn-default-color:                   #0063b0 !default;
$btn-default-bg:                      #f3f7f8 !default;
$btn-default-border:                  #e3e7e8 !default;

$btn-primary-color:                   #fff !default;
$btn-primary-bg:                      $base-color-main !default;
$btn-primary-border:                  $btn-primary-bg !default;

$btn-success-color:                   #fff !default;
$btn-success-bg:                      $color-type-4a !default;
$btn-success-border:                  $btn-success-bg !default;

$btn-info-color:                      #fff !default;
$btn-info-bg:                         $color-type-1a !default;
$btn-info-border:                     $btn-info-bg !default;

$btn-warning-color:                   #fff !default;
$btn-warning-bg:                      $color-type-3a !default;
$btn-warning-border:                  $btn-warning-bg !default;

$btn-danger-color:                    #fff !default;
$btn-danger-bg:                       $color-type-2b !default;
$btn-danger-border:                   $btn-danger-bg !default;

$btn-transparent-color:               $base-color-main !default;
$btn-transparent-bg:                  transparent !default;
$btn-transparent-border:              $btn-transparent-color !default;

//- Padding
$padding-base-vertical:               10px;
$padding-base-horizontal:             23px;

$padding-large-vertical:              11px;
$padding-large-horizontal:            35px;

$padding-small-vertical:              7px;
$padding-small-horizontal:            10px;

$padding-tiny-vertical:               5px;
$padding-tiny-horizontal:             8px;

$line-height-large:                   1.5;
$line-height-small:                   1.3;
$line-height-tiny:                    1.2;
$line-height-btn:                     1.9;

$border-radius-base:                  5px;
$border-radius-large:                 5px;
$border-radius-small:                 5px;

$btn-border-radius-base:              $border-radius-base;
$btn-border-radius-large:             $border-radius-large;
$btn-border-radius-small:             $border-radius-small;


// Type
$blockquote-small-color:              $gray-darken-2;
$blockquote-font-size:                ($base-font-size * 1.4705);
$blockquote-border-color:             $gray-darken-1;


//- Breadcrumbs
$breadcrumb-padding-vertical:         12px;
$breadcrumb-padding-horizontal:       15px;
$breadcrumb-bg:                       #e2e7ea;
$breadcrumb-color:                    #565b64;
$breadcrumb-active-color:             #565b64;
$breadcrumb-separator:                " > ";


//- Pagination
$pagination-color:                    $base-color-main;
$pagination-bg:                       #fff;
$pagination-border:                   #fff;

$pagination-hover-color:              #2a2c30;
$pagination-hover-bg:                 $base-color-main;
$pagination-hover-border:             $base-color-main;

$pagination-active-color:             #fff;
$pagination-active-bg:                $base-color-main;
$pagination-active-border:            $base-color-main;


//- Pager
$pager-bg:                            $pagination-bg;
$pager-border:                        #cad3df;
$pager-border-radius:                 50px;
$pager-hover-bg:                      $pagination-hover-bg;
$pager-hover-color:                   $pagination-hover-color;
$pager-active-bg:                     $pagination-active-bg;
$pager-active-color:                  $pagination-active-color;


//- Accordion
$accordion-padding-vertical:         8px;
$accordion-padding-horizontal:       15px;
$accordion-bg:                       transparent;
$accordion-color:                    #333;
$accordion-active-color:             $gray-darken-2;

//- Tables
$table-cell-padding:                  10px;
$table-condensed-cell-padding:        5px;

$table-bg:                            transparent;
$table-bg-accent:                     #f6f9fa;

$table-bg-hover:                      #f5f5f5;
$table-bg-active:                     $table-bg-hover;

$table-border-color:                  #d9dde1;


//- Navbar
$navbar-height:                       50px;
$navbar-margin-bottom:                $line-height-computed;
$navbar-border-radius:                $border-radius-base;
$navbar-padding-horizontal:           floor(($grid-gutter-width / 2));
$navbar-padding-vertical:             (($navbar-height - $line-height-computed) / 2);
$navbar-collapse-max-height:          340px;

$navbar-default-color:                #777;
$navbar-default-bg:                   #f8f8f8;
$navbar-default-border:               darken($navbar-default-bg, 6.5%);

//- Navbar toggle
$navbar-default-toggle-hover-bg:      #ddd;
$navbar-default-toggle-icon-bar-bg:   #888;
$navbar-default-toggle-border-color:  #ddd;

//- Navbar links
$navbar-default-link-color:           #777;
$navbar-default-link-hover-color:     #333;
$navbar-default-link-hover-bg:        transparent;
$navbar-default-link-active-color:    #555;
$navbar-default-link-active-bg:       darken($navbar-default-bg, 6.5%);
$navbar-default-link-disabled-color:  #ccc;
$navbar-default-link-disabled-bg:     transparent;


//- Navs
$nav-link-padding:                     10px 6px;
$nav-link-hover-bg:                    $color-type-3a;
$subnav-link-hover-bg:                 $color-type-3b;

$nav-tabs-active-link-hover-bg:        $base-background;
$nav-tabs-active-link-hover-color:     $gray;
$nav-tabs-active-link-hover-border-color: #ddd;

$nav-tabs-justified-link-border-color:  #ddd;
$nav-tabs-justified-active-link-border-color: $base-background;


//- Alerts
$alert-padding:                        16px 16px 16px 55px !default;
$alert-border-radius:                  5px !default;
$alert-link-font-weight:               400 !default;

$alert-success-bg:                     #daf5e7 !default;
$alert-success-text:                   #04be5b !default;
$alert-success-border:                 #04be5b !default;

$alert-info-bg:                        #d9ecf9 !default;
$alert-info-text:                      #0e89d8 !default;
$alert-info-border:                    #0082d5 !default;

$alert-warning-bg:                     #fff0e4 !default;
$alert-warning-text:                   #ff9948 !default;
$alert-warning-border:                 #ff9948 !default;

$alert-danger-bg:                      #f8e1e7 !default;
$alert-danger-text:                    #d2335c !default;
$alert-danger-border:                  #d2335c !default;


$close-font-weight:                    bold !default;
$close-color:                          #000 !default;
$close-text-shadow:                    none !default;


//- Form states and table
$input-bg:                             #fdfdfd !default;
$input-bg-disabled:                    $gray-darken-1 !default;

$input-color:                          #33485c !default;
$input-border:                         #dde3e8 !default;

$input-border-radius:                  $border-radius-base !default;
$input-border-radius-large:            $border-radius-large !default;
$input-border-radius-small:            $border-radius-small !default;

$input-border-focus:                   #0082d5 !default;
$input-color-placeholder:              #8493a8 !default;

$input-height-base:                    ($line-height-computed + ($padding-base-vertical * 2) + 2) !default;
$input-height-large:                   (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2) !default;
$input-height-small:                   (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2) !default;


$input-group-addon-bg:                 $gray-darken-1 !default;
$input-group-addon-border-color:       $input-border !default;


$state-primary-text:                   $base-color-main !default;
$state-primary-bg:                     $base-color-main !default;
$state-primary-border:                 darken(adjust-hue($state-primary-bg, -10), 5%) !default;

$state-success-text:                   $color-type-4a !default;
$state-success-bg:                     $color-type-4a !default;
$state-success-border:                 darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                      $color-type-1a !default;
$state-info-bg:                        $color-type-1a !default;
$state-info-border:                    darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:                   $color-type-3a !default;
$state-warning-bg:                     $color-type-3a !default;
$state-warning-border:                 darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:                    $color-type-2a !default;
$state-danger-bg:                      $color-type-2a !default;
$state-danger-border:                  darken(adjust-hue($state-danger-bg, -10), 5%) !default;

$form-group-margin-bottom:             20px !default;

$legend-color:                         $black !default;
$legend-border-color:                  #e5e5e5 !default;

//** Disabled cursor for form controls and buttons.
$cursor-disabled:                      not-allowed;

//-- Z-index master list
$zindex-navbar:            1000 !default;
$zindex-dropdown:          1000 !default;
$zindex-popover:           1000 !default;
$caret-width-base:         1060 !default;
$zindex-tooltip:           1070 !default;
$zindex-navbar-fixed:      1030 !default;
$zindex-modal-background:  1040 !default;
$zindex-modal:             1050 !default;


$caret-width-base:          4px !default;
// Variables -> Components


//== Dropdowns
//
//## Dropdown menu container and contents.

//** Background for the dropdown menu.
$dropdown-bg:                    #fff !default;
//** Dropdown menu `border-color`.
$dropdown-border:                rgba(0,0,0,.15) !default;
//** Dropdown menu `border-color` **for IE8**.
$dropdown-fallback-border:       #ccc !default;
//** Divider color for between dropdown items.
$dropdown-divider-bg:            #e5e5e5 !default;

//** Dropdown link text color.
$dropdown-link-color:            #000 !default;
//** Hover color for dropdown links.
$dropdown-link-hover-color:      darken(#000, 5%) !default;
//** Hover background for dropdown links.
$dropdown-link-hover-bg:         #f5f5f5 !default;

//** Active dropdown menu item text color.
$dropdown-link-active-color:     #fff !default;
//** Active dropdown menu item background color.
$dropdown-link-active-bg:        #000 !default;

//** Disabled dropdown menu item background color.
$dropdown-link-disabled-color:   #eee !default;

//** Text color for headers within dropdown menus.
$dropdown-header-color:          #eee !default;

//** Deprecated `$dropdown-caret-color` as of v3.1.0
$dropdown-caret-color:           #000 !default;

//== Popovers
//
//##

//** Popover body background color
$popover-bg:                          #fff !default;
//** Popover maximum width
$popover-max-width:                   189px !default;
//** Popover border color
$popover-border-color:                rgba(0,0,0,.2) !default;
//** Popover fallback border color
$popover-fallback-border-color:       #ccc !default;

//** Popover title background color
$popover-title-bg:                    darken($popover-bg, 3%) !default;

//** Popover arrow width
$popover-arrow-width:                 10px !default;
//** Popover arrow color
$popover-arrow-color:                 $popover-bg !default;

//** Popover outer arrow width
$popover-arrow-outer-width:           ($popover-arrow-width + 1) !default;
//** Popover outer arrow color
$popover-arrow-outer-color:           fade_in($popover-border-color, 0.05) !default;
//** Popover outer arrow fallback color
$popover-arrow-outer-fallback-color:  darken($popover-fallback-border-color, 20%) !default;


//== Modals
//
//##

//** Padding applied to the modal body
$modal-inner-padding:         15px 40px !default;

//** Padding applied to the modal title
$modal-title-padding:         15px 40px 0 !default;
//** Modal title line-height
$modal-title-line-height:     $base-line-height !default;

//** Background color of modal content area
$modal-content-bg:                             #fff !default;
//** Modal content border color
$modal-content-border-color:                   rgba(0,0,0,.2) !default;
//** Modal content border color **for IE8**
$modal-content-fallback-border-color:          #999 !default;

//** Modal backdrop background color
$modal-backdrop-bg:           #000 !default;
//** Modal backdrop opacity
$modal-backdrop-opacity:      .5 !default;
//** Modal header border color
$modal-header-border-color:   #e5e5e5 !default;
//** Modal footer border color
$modal-footer-border-color:   $modal-header-border-color !default;

$modal-lg:                    744px !default;
$modal-md:                    570px !default;
$modal-sm:                    400px !default;


// Navbar


// Variables -> Partials

// Header


// Variables -> Pages

// Home