main.page-main
    include ../components/_breadcrumbs
    .container
        section
            .dropbox
                .dropbox__item.t30
                    h1 Добавить новую партию
                        br
                        | тахографов
                .dropbox__item
                    .dropbox__inner
                        input.input__file-js(type="file", multiple)
                        img(src="../images/dropbox-img.png", alt="")
                        p.input__text-js
                            span.text--primary.text__md Выбрать файл
                            br
                            span.text--default.text__sm или перетащите сюда файл, чтобы прикрепить его
                .dropbox__item.t25
                    a.btn.btn--primary(href='#') далее
            h4 Последние 7 отправок
            table.table.table--striped.table--center
                thead
                    tr
                        th Дата и время
                        th Размер файла
                        th Подписан
                        th Статус
                tbody
                    tr
                        td
                            span 01.01.2016
                            span 00:36
                        td 200 Мб
                        td Ковтун О.Н.
                        td
                            span Новый
                            .slider-line.slider-line--js(data-per="28")
                                .inner
                    tr
                        td
                            span 01.01.2016
                            span 17:27
                        td 770 Мб
                        td Ковтун О.Н.
                        td
                            span В обработке
                            .slider-line.slider-line--js(data-per="70")
                                .inner
                    tr
                        td
                            span 01.01.2016
                            span 12:52
                        td 43 Мб
                        td Петров Г.М.
                        td
                            span Обработан
                            .slider-line.slider-line--js(data-per="100")
                                .inner
                    tr
                        td
                            span 01.01.2016
                            span 09:42
                        td 200 Мб
                        td Петров Г.М.
                        td
                            span Новый
                            .slider-line.slider-line--js(data-per="28")
                                .inner
                    tr
                        td
                            span 01.01.2016
                            span 19:18
                        td 200 Мб
                        td Ковтун О.Н.
                        td
                            span Новый
                            .slider-line.slider-line--js(data-per="28")
                                .inner
                    tr
                        td
                            span 01.01.2016
                            span 09:42
                        td 770 Мб
                        td Петров Г.М.
                        td
                            span Новый
                            .slider-line.slider-line--js(data-per="28")
                                .inner
                    tr
                        td
                            span 01.01.2016
                            span 12:52
                        td 43 Мб
                        td Ковтун О.Н.
                        td
                            span Обработан
                            .slider-line.slider-line--js(data-per="100")
                                .inner