main.page-main
    include ../components/_breadcrumbs
    .container
        section.text--center
            .form-block
                .form-block__inner
                    form
                        h1.margbot30= title
                        .cell__xlg-3.cell__lg-4.cell__md-5.center-block
                            .form__group
                                fieldset
                                    input.form-control(type='text', name='text', id="login", autocomplete='off')
                                    label(for="login") Введите логин
                            .form__group
                                fieldset
                                    input.form-control.user-pass(type='password', name='password', id="password", autocomplete='off')
                                    label(for="password") Введите пароль
                                    img.img-pass.show-pass--js(src="images/pass-ico.png", alt="")
                            .form__group
                                button.btn.btn__lg.btn--primary.btn--full.text--uppercase(type="submit") Войти
                            ul.list--table
                                li: a(href="#"): b.text--primary Забыли пароль?
                                li.text--right: a(href="#"): b.text--primary Зарегистрироваться
                include ../components/_q-banner