main.page-main
    include ../components/_breadcrumbs
    section.index-white
        .container
            h1= title
            .card-check.radiotab
                .radiotab--js
                    ul.list--inline
                        li.active
                            .radio
                                input(type="radio", id="chk5", value="deliver", name="radio", checked)
                                label(for="chk5") Физическое лицо
                        li
                            .radio
                                input(type="radio", id="chk4", value="card", name="radio")
                                label(for="chk4") Юридическое лицо
                    .cell__xlg-3.cell__lg-4.cell__md-5
                        .radiotab--content.radiotab--content-1.active.form-block
                            form
                                .form__group
                                    fieldset
                                        input.form-control(type='text', name='name', autocomplete='off', required)
                                        label Фамилия
                                        span *
                                .form__group
                                    fieldset
                                        input.form-control(type='text', name='name', autocomplete='off', required)
                                        label СНИЛС
                                        span *
                                .form__group
                                    fieldset
                                        input.form-control(type='text', name='company', autocomplete='off', required)
                                        label ИНН организации
                                        span *
                                p
                                    sup *
                                    |  Поля, обязательные для заполнения
                                .margtop20
                                    button.btn.btn__lg.btn--primary.text--uppercase(type="submit") искать
                        .radiotab--content.radiotab--content-2.form-block
                            form
                                .form__group
                                    fieldset
                                        input.form-control(type='text', name='name', autocomplete='off', required)
                                        label Фамилия
                                        span *
                                .form__group
                                    fieldset
                                        input.form-control(type='text', name='company', autocomplete='off', required)
                                        label ИНН организации
                                        span *
                                p
                                    sup *
                                    |  Поля, обязательные для заполнения
                                .margtop20
                                    button.btn.btn__lg.btn--primary.text--uppercase(type="submit") искать