main.page-main
    include ../components/_breadcrumbs
    .container
        section
            .relative
                h1= title
                .absolite-content
                    a.btn.btn--primary(href="#") добавить документ
            .catalog-adr
                .catalog-adr__item
                    p Номер версии ПО
                    p.text__lg v.1.03.4890
                .catalog-adr__item
                    p Организация изготовитель
                    p.text__lg ООО "АТОЛ ДРАЙВ"
                .catalog-adr__item
                    p Адрес
                    p.text__lg 115477, г. Москва, ул. Кантемировская, д. 59А
            table.table.table--striped.table-catalog
                thead
                    tr
                        th.t5.text--center.relative
                            a(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false"): i.icon-cog
                            .dropdown-menu(aria-labelledby="dLabel")
                                .pull-right: img(src="images/icons/close.png", alt="")
                                h4 Отображаемые столбцы
                                .form__group
                                    +fieldCheckbox('Тип', 'table11', true)
                                    +fieldCheckbox('Название', 'table12', true)
                                    +fieldCheckbox('Дата добавления', 'table13', true)
                                    +fieldCheckbox('Файл', 'table14', true)
                                    +fieldCheckbox('Доступность', 'table15', true)
                                    +fieldCheckbox('Статус', 'table16', true)
                                    +fieldCheckbox('Действие', 'table17', true)
                                .form__group
                                    a.btn.btn--primary(href="#") Применить
                        th
                            a(href=""): i.icon-sort
                            | Тип
                        th.t20
                            a(href=""): i.icon-sort
                            | Название
                        th
                            a(href=""): i.icon-sort
                            span.inline Дата последнего
                                br
                                | изменения
                        th
                            a(href=""): i.icon-sort
                            | Файл
                        th.t15
                            a(href=""): i.icon-sort-down
                            | Доступность
                        th
                            a(href=""): i.icon-sort-up
                            | Статус
                        th Действие
                tbody
                    tr
                        td.text--center: +fieldCheckbox('', 'table1', false)
                        td Руководство по проверке
                        td Руководство по проверке «Smart Drive»
                        td 01.01.2016
                        td
                            a.text--primary(href="#")
                                i.icon-download-alt
                                |  20 Кб
                        td Контролерам
                        td
                            i.icon-pause-circled
                            span.inline  Подан
                                br
                                | на проверку
                        td.text--center: a(href=""): img(src="images/icons/icoTable-2.png", alt="")
                    tr
                        td.text--center: +fieldCheckbox('', 'table2', true)
                        td Фотография
                        td Методические рекомендации по использованию тахографа "Drive Smart"
                        td 01.01.2016
                        td
                            a.text--primary(href="#")
                                i.icon-download-alt
                                |  20 Кб
                        td Водителям, АТП, мастерским, контролерам
                        td
                            i.icon-cancel-circled
                            span.inline Отклонен
                            a.popover-main(href="#", data-toggle="popover", title="Причина отклонения", data-content="Нельзя просто так взять и добавить документ.", data-placement="bottom"): i.icon-question-circle-o
                        td.text--center: a(href=""): img(src="images/icons/icoTable-2.png", alt="")
                    tr
                        td.text--center: +fieldCheckbox('', 'table3', false)
                        td Руководство по проверке
                        td Руководство по проверке «Smart Drive»
                        td 01.01.2016
                        td
                            a.text--primary(href="#")
                                i.icon-download-alt
                                |  200 Кб
                        td Мастерским
                        td
                            i.icon-pause-circled
                            span.inline  Подан
                                br
                                | на проверку
                        td.text--center: a(href=""): img(src="images/icons/icoTable-2.png", alt="")
                    tr
                        td.text--center: +fieldCheckbox('', 'table4', false)
                        td Фотография
                        td Методические рекомендации по использованию тахографа "Drive Smart"
                        td 01.01.2016
                        td
                            a.text--primary(href="#")
                                i.icon-download-alt
                                |  20 Кб
                        td Водителям, АТП, мастерским, контролерам
                        td
                            i.icon-ok-circled
                            span.inline Активен
                        td.text--center: a(href=""): img(src="images/icons/icoTable-2.png", alt="")
                    tr
                        td.text--center: +fieldCheckbox('', 'table5', false)
                        td Руководство по проверке
                        td Руководство по проверке «Smart Drive»
                        td 01.01.2016
                        td
                            a.text--primary(href="#")
                                i.icon-download-alt
                                |  120 Кб
                        td Контролерам
                        td
                            i.icon-stop-circled
                            span.inline  Деактивирован
                        td.text--center: a(href=""): img(src="images/icons/icoTable-2.png", alt="")
                tfoot
                    tr
                        td(colspan="4")
                            ul.list--table
                                li
                                    +fieldCheckbox('Все', 'table6', false)
                                li: b Выбрано: 1
                                li
                                    select.select-actions(style="width: 240px;")
                                        option
                                        option(value="del") Удалить
                                        option(value="edit") Редактировать
                                        option(value="oarh") Разархивировать
                                        option(value="carh") Заархивировать
                                        option(value="add") Добавить в стоп-лист
                                li
                                    a.btn.btn--primary.btn-actions(href="#", disabled) Применить
                        td(colspan="4")
                            ul.list--table
                                li.select-transparent
                                    select(style="width: 180px;")
                                        option Выводить по  5
                                        option Выводить по  10
                                        option Выводить по  15
                                        option Выводить по  20
                                li 5 из 256
                                li
                                    include ../components/_paginator