main.page-main
    include ../components/_breadcrumbs
    section.index-grey
        .container
            h1= title
            .table--responsive
                table.table.table--striped
                    thead
                        tr
                            th Статус записи
                            th Наименование
                                br
                                | модели тахографа
                            th Номер версии
                                br
                                | ПО тахографа
                            th Наименование
                                br
                                | организации-изготовителя
                            th Адрес организации-изготовителя
                                br
                                | тахографа
                    tbody
                        tr
                            td Действующая
                            td "Drive 5"
                            td v.1.03.1698;
                                br
                                | v.1.03.3280
                            td ООО "ПОС система";
                                br
                                | ООО "АТОЛ ДРАЙВ"
                            td 117105, г. Москва, Варшавское шоссе, д. 35, этаж 3,
                                br
                                | ком. №13; 115477, г. Москва, ул. Кантемировская, д. 59А
            p: a.text--primary(href="#") Где произвести установку и обслуживание  тахографа?
            .documents.documents--mini
                h2 Документы ООО "ПОС система"
                .row
                    - for (var x = 1; x < 3; x++)
                        .cell.cell__lg-3.cell__md-6.cell__xs-12
                            a.documents__item(href="#")
                                .documents__desc
                                    ul.list--table.text__md
                                        li.text--grey 05.10.2016
                                        li: b Инструкция
                                    h4 Инструкция
                                        |  по эксплуатации
                                .text--right
                                    b.text--primary
                                        .item
                                            img(src="images/ico-5.png", alt="")
                                        .item
                                            span  25 MB
                        .cell.cell__lg-3.cell__md-6.cell__xs-12
                            a.documents__item(href="#")
                                .documents__desc
                                    ul.list--table.text__md
                                        li.text--grey 05.10.2016
                                        li: b Рекомендации
                                    h4 Рекомендации
                                        |  по использованию
                                        |  тахографа
                                .text--right
                                    b.text--primary
                                        .item
                                            img(src="images/ico-5.png", alt="")
                                        .item
                                            span  25 MB
                h2 Документы ООО "АТОЛ ДРАЙВ"
                .row
                        .cell.cell__lg-3.cell__md-6.cell__xs-12
                            a.documents__item(href="#")
                                .documents__desc
                                    ul.list--table.text__md
                                        li.text--grey 05.10.2016
                                        li.text--grey №08-02/285
                                    b.text__md Методические рекомендации
                                    h4 Методические
                                        |  рекомендации
                                        |  по использованию
                                        |  тахографа"КАСБИ
                                        |  DT-20M"
                                .text--right
                                    b.text--primary
                                        .item
                                            img(src="images/ico-5.png", alt="")
                                        .item
                                            span  25 MB
                        .cell.cell__lg-3.cell__md-6.cell__xs-12
                            a.documents__item(href="#")
                                .documents__desc
                                    ul.list--table.text__md
                                        li.text--grey 05.10.2016
                                        li.text--grey №08-02/285
                                    b.text__md Инструкция
                                    h4 Методические
                                        |  рекомендации
                                        |  по использованию
                                        |  тахографа
                                        |  "КАСБИ DT-20M"
                                .text--right
                                    b.text--primary
                                        .item
                                            img(src="images/ico-5.png", alt="")
                                        .item
                                            span  25 MB
                        .cell.cell__lg-3.cell__md-6.cell__xs-12
                            a.documents__item(href="#")
                                .documents__desc
                                    ul.list--table.text__md
                                        li.text--grey 05.10.2016
                                        li.text--grey №08-02/285
                                    b.text__md Методические рекомендации
                                    h4 Методические
                                        |  рекомендации
                                        |  по использованию
                                        |  тахографа"КАСБИ
                                        |  DT-20M"
                                .text--right
                                    b.text--primary
                                        .item
                                            img(src="images/ico-5.png", alt="")
                                        .item
                                            span  25 MB
            .a-banner
                .a-banner__item.cell__lg-4.text__md--right.text--center: img(src="images/detail-ico.png", alt="")
                .a-banner__item.text__md--left.text--center
                    h2 Для авторизированных пользователей
                        br
                        | есть дополнительные документы для скачивания.
                    a.btn.btn--primary.btn__lg.text--uppercase(href="#") Авторизоваться