main.page-main
    include ../components/_breadcrumbs
    section.index-grey
        .container
            h1= title
            .catalog-page
                ul.list--inline
                    li.margright30.margtop10
                        .btn__group
                            a.active.btn.btn--default.text__md(href="#") Тахографы
                            a.btn.btn--default.text__md(href="#") СКЗИ
                            a.btn.btn--default.text__md(href="#") Карты тахографа
                    li.margtop10
                        .btn__group
                            a.active.btn.btn--default.text__md(href="#") РФ
                            a.btn.btn--default.text__md(href="#") ЕСТР
                .row
                    .cell.cell__lg-3.cell__md-6.cell__xs-12
                        .catalog-page__item
                            .catalog-page__title
                                h4 "ШТРИХ-ТахоRUS" SM
                                    | 042.00.00-13
                            .text--right
                                a(href="#"): b.text--primary Подробнее
                    .cell.cell__lg-3.cell__md-6.cell__xs-12
                        .catalog-page__item
                            .catalog-page__title
                                h4 "Меркурий ТА-001"
                            .text--right
                                a(href="#"): b.text--primary Подробнее
                    .cell.cell__lg-3.cell__md-6.cell__xs-12
                        .catalog-page__item
                            .catalog-page__title
                                h4 "Меркурий ТА-001"
                            .text--right
                                a(href="#"): b.text--primary Подробнее
                    .cell.cell__lg-3.cell__md-6.cell__xs-12
                        .catalog-page__item
                            .catalog-page__title
                                h4 "Меркурий ТА-001"
                            .text--right
                                a(href="#"): b.text--primary Подробнее
                    .cell.cell__lg-3.cell__md-6.cell__xs-12
                        .catalog-page__item
                            .catalog-page__title
                                h4 "Drive 5"
                            .text--right
                                a(href="#"): b.text--primary Подробнее
                    .cell.cell__lg-3.cell__md-6.cell__xs-12
                        .catalog-page__item
                            .catalog-page__title
                                h4 "ШТРИХ-ТахоRUS" SM
                                    | 042.00.00-13
                            .text--right
                                a(href="#"): b.text--primary Подробнее
                    .cell.cell__lg-3.cell__md-6.cell__xs-12
                        .catalog-page__item
                            .catalog-page__title
                                h4 "ТЦА-02НК"
                                    |  исполнение "У"
                            .text--right
                                a(href="#"): b.text--primary Подробнее
                    .cell.cell__lg-3.cell__md-6.cell__xs-12
                        .catalog-page__item
                            .catalog-page__title
                                h4 "ТЦА-02НК"
                                    |  исполнение "У"
                            .text--right
                                a(href="#"): b.text--primary Подробнее
            include ../components/_paginator
