main.page-main
    include ../components/_breadcrumbs
    .maps
        .maps-inner
            .container
                .inner
                    h2= title
                    .maps-inner__item
                        p.text--grey.text__md Адрес:
                        p.text__lg: b 125480, г. Москва, ул. Героев
                            br
                            | Панфиловцев, д. 24
                    .maps-inner__item
                        p.text--grey.text__md Телефон
                        p.text__lg: b +7 (495) 496-85-83
                            br
                            | +7 (495) 496-85-92​
                    .maps-inner__item
                        p.text--grey.text__md E-mail:
                        p.text__lg: b info@rosavtotransport.ru
                    .maps-inner__item
                        p.text--grey.text__md Режим работы:
                        p.text__lg: b Пн - Чт с 9:00 до 18:00
                            br
                            | Пт с 9:00 до 17:00
                            br
                            | (перерыв с 12:00 до 13:00)
                            br
                            | Сб - Вс — выходной
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2239.4117069992303!2d37.4064113160272!3d55.855522991532105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b5479acd1febdf%3A0xa92a001ba85e2960!2z0YPQuy4g0JPQtdGA0L7QtdCyLdCf0LDQvdGE0LjQu9C-0LLRhtC10LIsIDI0LCDQnNC-0YHQutCy0LAsIDEyNTQ4MA!5e0!3m2!1sru!2sru!4v1479406367008", frameborder="0", allowfullscreen)
    section.index-grey
        .container
            .q-banner.margtop0
                h2 Остались вопросы?
                a.btn.btn--primary.btn__lg.text--uppercase(href="#") задать вопрос