main.page-main
    include ../components/_breadcrumbs
    section.index-grey
        .container
            h1= title
            .catalog-tah.form-block
                .catalog-tah__inner
                    .catalog-tah__item.t30
                        fieldset
                            input.form-control(type='text', name='num', autocomplete='off')
                            label Номер
                    .catalog-tah__item.t30
                        select(style="width:100%")
                            option Тип
                            option Тип
                            option Тип
                            option Тип
                            option Тип
                    .catalog-tah__item.t30
                        fieldset
                            input.form-control(type='text', name='name', autocomplete='off')
                            label Название
                    .catalog-tah__item
                        a.btn.btn--primary.btn__lg.text--uppercase(href="#") найти
            .documents
                h2 Документы
                ul.list--inline
                    li.margtop20
                        select(style="width: 318px;")
                            option(selected, disabled) Сортировать по дате
                            option По дате последнего изменения
                            option По дате последнего изменения
                            option По дате последнего изменения
                    li.margtop20
                        select(style="width: 318px;")
                            option(selected, disabled) Сортировать по типу документов
                            option По типу последнего изменения
                            option По типу последнего изменения
                            option По типу последнего изменения
                .row.text__md
                    .cell.cell__xlg-4.cell__md-6.cell__xs-12
                        a.documents__item(href="#")
                            .documents__desc
                                ul.list--table
                                    li.text--grey 05.10.2016
                                    li.text--grey №08-02/285
                                h5 Информационное письмо
                                p: b О запрете использования аналоговых контрольных устройств, эксплуатации транспортных средств, оснащенных техническими средствами контроля за соблюдением водителями режимов движения, труда и отдыха, не обеспечивающих регистрацию информации на картах тахографа
                                p.text--grey Действует с: 01.07.2016
                            .text--right
                                b.text--primary
                                    .item
                                        img(src="images/ico-5.png", alt="")
                                    .item
                                        span  25 КБ
                    .cell.cell__xlg-4.cell__md-6.cell__xs-12
                        a.documents__item(href="#")
                            .documents__desc
                                ul.list--table
                                    li.text--grey 05.10.2016
                                    li.text--grey №08-02/285
                                h5 Перечень
                                p: b Перечень сведений о мастерских, осуществляющих деятельность по установке, проверке, техническому обслуживанию и ремонту тахографов (от 29.09.2016 г.)
                                p.text--grey Действует с: 01.07.2016
                            ul.list--table
                                li
                                    b.text--primary Предыдущие редакции&nbsp;
                                        i.icon-angle-down.text--primary
                                li
                                    b.text--primary
                                        .item
                                            img(src="images/ico-5.png", alt="")
                                        .item
                                            span  15 КБ
                    .cell.cell__xlg-4.cell__md-6.cell__xs-12
                        a.documents__item(href="#")
                            .documents__desc
                                ul.list--table
                                    li.text--grey 05.10.2016
                                    li.text--grey №08-02/285
                                h5 Образец заявления
                                p: b Образец заявления на выдачу (обновление) карты водителя РФ (от 16.09.2016 г.)
                                p.text--grey Действует с: 01.07.2016
                            .text--right
                                b.text--primary
                                    .item
                                        img(src="images/ico-5.png", alt="")
                                    .item
                                        span  30 КБ
                    .cell.cell__xlg-4.cell__md-6.cell__xs-12
                        a.documents__item(href="#")
                            .documents__desc
                                ul.list--table
                                    li.text--grey 05.10.2016
                                    li.text--grey №08-02/285
                                h5 Приказ
                                p: b Приказ Министерства транспорта РФ от 2 декабря 2015 г. N 348 "О внесении изменений в Порядок оснащения транспортных средств тахографами, утвержденный приказом Министерства транспорта Российской Федерации от 21 августа 2013 г. N 273"
                                p.text--grey Действует с: 01.07.2016
                            ul.list--table
                                li
                                    b.text--primary Предыдущие редакции&nbsp;
                                        i.icon-angle-down.text--primary
                                li
                                    b.text--primary
                                        .item
                                            img(src="images/ico-5.png", alt="")
                                        .item
                                            span  25 КБ
                    .cell.cell__xlg-4.cell__md-6.cell__xs-12
                        a.documents__item(href="#")
                            .documents__desc
                                ul.list--table
                                    li.text--grey 05.10.2016
                                    li.text--grey №08-02/285
                                h5 Информационное письмо
                                p: b Информационное письмо участникам реализации тахографического контроля на территории Российской Федерации "О предоставлении дополнительной информации к письму от 10.02.2016 №08-02/363"
                                p.text--grey Действует с: 01.07.2016
                            .text--right
                                b.text--primary
                                    .item
                                        img(src="images/ico-5.png", alt="")
                                    .item
                                        span  25 КБ
                    .cell.cell__xlg-4.cell__md-6.cell__xs-12
                        a.documents__item(href="#")
                            .documents__desc
                                ul.list--table
                                    li.text--grey 05.10.2016
                                    li.text--grey №08-02/285
                                h5 Разъяснение
                                p: b Разъяснение ФСБ России о лицензировании деятельности мастерских № 7409-Фв (от 11.09.2015 г.)
                                p.text--grey Действует с: 01.07.2016
                            .text--right
                                b.text--primary
                                    .item
                                        img(src="images/ico-5.png", alt="")
                                    .item
                                        span  25 КБ
                include ../components/_paginator
            include ../components/_q-banner