main.page-main
    include ../components/_breadcrumbs
    section.driver-img
        .container
            h1= title
            p.text__lg В условиях Единого экономического пространства объем
                br
                |  двусторонних перевозок грузов между Республикой Казахстан
                br
                |  и Российской Федерацией существенно увеличился.
    section.index-white
        .container
            h1 Доступные сервисы
            .driver-services
                .row
                    .cell.cell__md-4.cell__xs-12
                        .driver-services__item
                            .driver-services__item--img
                                img(src="images/dirvers-ico-1.png", alt="")
                            .driver-services__item--title
                                h2 Где получить карту
                    .cell.cell__md-4.cell__xs-12
                        .driver-services__item
                            .driver-services__item--img
                                img(src="images/dirvers-ico-2.png", alt="")
                            .driver-services__item--title
                                h2 Узнать статус завления
                                    br
                                    | на карту
                    .cell.cell__md-4.cell__xs-12
                        .driver-services__item
                            .driver-services__item--img
                                img(src="images/dirvers-ico-3.png", alt="")
                            .driver-services__item--title
                                h2 Задать вопрос
                            ul.list--inline
                                li: a.margtop10.btn.btn--default(href="#") Вопрос
                                li: a.margtop10.btn.btn--default(href="#") Обращение
    section.index-grey
        .container
            h1 Полезная информация на портале
            .drivers-info
                .row
                    .cell.cell__md-5.cell__xs-12
                        h2.text--primary Норматививная документация
                        p.text__md.text--grey В разделе описана работа с данными по тахографам: просмотр, поиск и управление ими...
                    .cell.cell__md-5.cell__xs-12.pull-right
                        h2.text--primary Ответственность за нарушения в сфере тахографии
                        p.text__md.text--grey В разделе описана работа с данными по тахографам: просмотр, поиск и управление ими...
                .row
                    .cell.cell__md-5.cell__xs-12
                        h2.text--primary О тахографическом контроле.
                        p.text__md.text--grey В разделе описана работа с данными по тахографам: просмотр, поиск и управление ими...
                    .cell.cell__md-5.cell__xs-12.pull-right
                        h2.text--primary Ответственность за нарушения в сфере тахографии
                        p.text__md.text--grey В разделе описана работа с данными по тахографам: просмотр, поиск и управление ими...
    include ../components/_question