main.page-main
    section.index-img
        .container
            .text--center
                h1 Услуги портала
            .row.index-services
                .cell.cell__lg-4.cell__md-6.cell__xs-12
                    .index-services__item
                        .index-services__item--img: img(src="images/services-ico-1.png", alt="")
                        .index-services__item--title: h2 Водителям
                        .index-services__item--desc
                            ul.list--unstyled.text__lg
                                li
                                    i.ico-serv.ico-serv-1
                                    span.text--primary Проверка оборудования
                                li
                                    i.ico-serv.ico-serv-2
                                    span.text--primary Статус тахографической карты
                                li
                                    i.ico-serv.ico-serv-3
                                    span.text--primary Задать вопрос
                .cell.cell__lg-4.cell__md-6.cell__xs-12
                    .index-services__item
                        .index-services__item--img: img(src="images/services-ico-2.png", alt="")
                        .index-services__item--title: h2 Автопредприятиям
                        .index-services__item--desc
                            ul.list--unstyled.text__lg
                                li
                                    i.ico-serv.ico-serv-1
                                    span.text--primary Проверка оборудования
                                li
                                    i.ico-serv.ico-serv-2
                                    span.text--primary Статус тахографической карты
                                li
                                    i.ico-serv.ico-serv-3
                                    span.text--primary Задать вопрос
                .cell.cell__lg-4.cell__md-6.cell__xs-12
                    .index-services__item
                        .index-services__item--img: img(src="images/services-ico-3.png", alt="")
                        .index-services__item--title: h2 Мастерским
                        .index-services__item--desc
                            ul.list--unstyled.text__lg
                                li
                                    i.ico-serv.ico-serv-1
                                    span.text--primary Проверка оборудования
                                li
                                    i.ico-serv.ico-serv-2
                                    span.text--primary Статус тахографической карты
                                li
                                    i.ico-serv.ico-serv-3
                                    span.text--primary Задать вопрос
    section.index-grey
        .container
            h1 Новости
            .row.index-news
                .cell.cell__lg-4.cell__md-6.cell__xs-12
                    a(href="#").index-news__item
                        .index-news__item--img: img(src="images/news-img-1.jpg", alt="")
                        .index-news__item--desc
                            .date 16.10.2016
                            .index-news__item--title
                                h4 Генеральный директор ФБУ «Росавтотранс» Алексей Двойных награжден памятной медалью «70 лет великой победы»
                            .index-news__item--link
                                b.text--primary Подробнее
                .cell.cell__lg-4.cell__md-6.cell__xs-12
                    a(href="#").index-news__item
                        .index-news__item--desc.index-news__item--desc-nonimg
                            .date 16.10.2016
                            .index-news__item--title
                                h4 Генеральный директор ФБУ «Росавтотранс» Алексей Двойных награжден памятной медалью «70 лет великой победы»
                            .index-news__item--par
                                p.text--default В Санкт-Петербурге состоялось плановое заседание Межведомственной транспортной комиссии. Мероприятие прошло под председательством главы Комитета по транспорту Санкт-Петербурга Александра Головина.
                            .index-news__item--link
                                b.text--primary Подробнее
                .cell.cell__lg-4.cell__md-6.cell__xs-12
                    a(href="#").index-news__item
                        .index-news__item--img: img(src="images/news-img-2.jpg", alt="")
                        .index-news__item--desc
                            .date 16.10.2016
                            .index-news__item--title
                                h4 Генеральный директор ФБУ «Росавтотранс» Алексей Двойных награжден памятной медалью «70 лет великой победы»
                            .index-news__item--link
                                b.text--primary Подробнее
            .margtop30
                a.btn.btn--default.btn--full.btn__xlg(href="#")
                    img(src="images/btn-ico.png", alt="")
    include ../components/_question