main.page-main
    include ../components/_breadcrumbs
    section.index-white
        .container
            h1= title
            .knowlege-page
                .row
                    .cell.cell__lg-4.cell__md-4.cell__xs-12.knowlege-page__item
                        h2 Тахографы
                        ul.list--inline
                            li: a(href="#"): b.text__md.text--primary Транспортные средства, подлежащие оснащению тахографами
                            li: a(href="#"): b.text__md.text--primary Порядок установки
                            li: a(href="#"): b.text__md.text--primary Оснащение ТС
                            li: a(href="#"): b.text__md.text--primary Ошибки при установке
                            li: a(href="#"): b.text__md.text--primary Порядок обслуживания
                            li: a(href="#"): b.text__md.text--primary Заказчик установки тахографа
                        p.text--grey.text__md В разделе описана работа с данными по тахографам: просмотр, поиск и управление ими...
                        a(href="#"): b.text__md.text--primary
                            img(src="images/ico-4.png", alt="")
                            |   20 материалов
                    .cell.cell__lg-4.cell__md-4.cell__xs-12.knowlege-page__item
                        h2 Тахографические карты
                        ul.list--inline
                            li: a(href="#"): b.text__md.text--primary Получение карт
                            li: a(href="#"): b.text__md.text--primary Использование карт
                        p.text--grey.text__md В разделе описана работа с данными по тахографам: просмотр, поиск и управление ими...
                        a(href="#"): b.text__md.text--primary
                            img(src="images/ico-4.png", alt="")
                            |   15 материалов
                    .cell.cell__lg-4.cell__md-4.cell__xs-12.knowlege-page__item
                        h2 Оборудование
                        ul.list--inline
                            li: a(href="#"): b.text__md.text--primary Проверка оборудования
                        p.text--grey.text__md В разделе описана работа с данными по тахографам: просмотр, поиск и управление ими...
                        a(href="#"): b.text__md.text--primary
                            img(src="images/ico-4.png", alt="")
                            |   25 материалов
                .row
                    .cell.cell__lg-4.cell__md-4.cell__xs-12.knowlege-page__item
                        h2 Блоки СКЗИ
                        ul.list--inline
                            li: a(href="#"): b.text__md.text--primary Порядок утилизации
                        p.text--grey.text__md В разделе описана работа с данными по тахографам: просмотр, поиск и управление ими...
                        a(href="#"): b.text__md.text--primary
                            img(src="images/ico-4.png", alt="")
                            |   20 материалов
                    .cell.cell__lg-4.cell__md-4.cell__xs-12.knowlege-page__item
                        h2 Перевозки
                        ul.list--inline
                            li: a(href="#"): b.text__md.text--primary Порядок совершения перевозок
                            li: a(href="#"): b.text__md.text--primary Порядок контроля
                        p.text--grey.text__md В разделе описана работа с данными по тахографам: просмотр, поиск и управление ими...
                        a(href="#"): b.text__md.text--primary
                            img(src="images/ico-4.png", alt="")
                            |   15 материалов
                    .cell.cell__lg-4.cell__md-4.cell__xs-12.knowlege-page__item
                        h2 Ответственность
                        p.text--grey.text__md В разделе описана работа с данными по тахографам: просмотр, поиск и управление ими...
                        a(href="#"): b.text__md.text--primary
                            img(src="images/ico-4.png", alt="")
                            |   25 материалов
                            |   25 материалов
                .row
                    .cell.cell__lg-4.cell__md-4.cell__xs-12.knowlege-page__item
                        h2 Лицензирование
                        p.text--grey.text__md В разделе описана работа с данными по тахографам: просмотр, поиск и управление ими...
                        a(href="#"): b.text__md.text--primary
                            img(src="images/ico-4.png", alt="")
                            |   15 материалов
                    .cell.cell__lg-4.cell__md-4.cell__xs-12.knowlege-page__item
                        h2 Ответы на вопросы
                        p.text--grey.text__md В разделе описана работа с данными по тахографам: просмотр, поиск и управление ими...
                        a(href="#"): b.text__md.text--primary
                            img(src="images/ico-4.png", alt="")
                            |   25 материалов
            include ../components/_q-banner