main.page-main
    include ../components/_breadcrumbs
    section.index-white
        .container
            h1= title
            .knowlege-list
                .parent.submenu--js.knowlege-list__item
                    a.title(href="#") Оснащение ТС
                    ol.list--number.submenu.padtop20
                        li: a(href="#") Транспортные средства, подлежащие оснащению тахографами
                        li: a(href="#") Транспортные средства, не подлежащие оснащению тахографами
                        li: a(href="#") Порядок оснащения транспортных средств тахографами
                .parent.submenu--js.knowlege-list__item
                    a.title(href="#") Порядок обслуживания
                    ol.list--number.submenu.padtop20
                        li: a(href="#") Транспортные средства, подлежащие оснащению тахографами
                        li: a(href="#") Транспортные средства, не подлежащие оснащению тахографами
                        li: a(href="#") Порядок оснащения транспортных средств тахографами
                .parent.submenu--js.knowlege-list__item
                    a.title(href="#") Транспортные средства, подлежащие оснащению тахографами
                    ol.list--number.submenu.padtop20
                        li: a(href="#") Транспортные средства, подлежащие оснащению тахографами
                        li: a(href="#") Транспортные средства, не подлежащие оснащению тахографами
                        li: a(href="#") Порядок оснащения транспортных средств тахографами
                .parent.submenu--js.knowlege-list__item
                    a.title(href="#") Заказчик установки тахографа
                    ol.list--number.submenu.padtop20
                        li: a(href="#") Транспортные средства, подлежащие оснащению тахографами
                        li: a(href="#") Транспортные средства, не подлежащие оснащению тахографами
                        li: a(href="#") Порядок оснащения транспортных средств тахографами
                .parent.submenu--js.knowlege-list__item
                    a.title(href="#") Порядок установки тахографа
                    ol.list--number.submenu.padtop20
                        li: a(href="#") Транспортные средства, подлежащие оснащению тахографами
                        li: a(href="#") Транспортные средства, не подлежащие оснащению тахографами
                        li: a(href="#") Порядок оснащения транспортных средств тахографами
            include ../components/_q-banner