main.page-main
    include ../components/_breadcrumbs
    section.index-white
        .container
            .knowlege-detail
                .attention
                    a.close-block.close--js(href="#"): img(src="images/close.png", alt="")
                    .attention__item.cell__md-3.text__md--right.text--center
                        img(src="images/attetion-img.png", alt="")
                    .attention__item.text__md--left.text--center
                        p.text__lg: b Уважаемые посетители!
                        p.text__md.text--grey Прежде чем писать обращение, пожалуйста, внимательно ознакомьтесь со следующей
                            br
                            | информацией.
                h2= title
                p.text__md.text--grey В соответствии с Приказом Минтранса России №273 от 21.08.2013 года новыми тахографами, использующими средства криптографической защиты информации (СКЗИ), должны будут оснащены
                .parent.submenu--js
                    a.title(href="#"): b.text--primary Подробнее
                    .submenu.padtop20
                        blockquote
                            span.text__lg Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
    section.index-grey
        .container
            h2 Материал подготовлен на основании следующих нормативных документов:
            .documents
                .row
                    .cell.cell__lg-4.cell__md-6.cell__xs-12
                        a.documents__item(href="#")
                            .documents__desc
                                h5 Пункт 3 Приказа № 273 от 16.04.2012
                                p Пункт 3 Приказа № 273 от 16.04.2012 Министерства Транспорта Российской Федерации «Об утверждении Порядка оснащения транспортных средств тахографами»
                            .text--right
                                b.text--primary
                                    .item
                                        img(src="images/ico-5.png", alt="")
                                    .item.text--left
                                        span Текст приказа №273 от 16.04.2012
                                            br
                                            | 25 MB
                    .cell.cell__lg-4.cell__md-6.cell__xs-12
                        a.documents__item(href="#")
                            .documents__desc
                                h5 Пункт 3 приказа от 17.12.2013 №470
                                p Пунктк 3 Приказа Министерства транспорта Российской Федерации от 17 декабря 2013 г. N 470 «О внесении изменений в приказ Министерства транспорта Российской Федерации от 13 февраля 2013 г. N 36»
                            .text--right
                                b.text--primary
                                    .item
                                        img(src="images/ico-5.png", alt="")
                                    .item.text--left
                                        span Текст приказа №273 от 16.04.2012
                                            br
                                            | 25 MB
            .text--center.margtop30
                a.btn.btn--transparent.text--uppercase(href="#") Вернуться к списку других вопросов
            include ../components/_q-banner