main.page-main
    .container
        section
            h1= title
            .row.actions
                .cell.cell__xs-4
                    a(href="#").actions__item
                        .actions__item--img: img(src="images/actions-img-1.png", alt="")
                        .actions__item--title: h4.text--primary Список тахографов
                .cell.cell__xs-4
                    a(href="#").actions__item
                        .actions__item--img: img(src="images/actions-img-2.png", alt="")
                        .actions__item--title: h4.text--primary Список СКЗИ
                .cell.cell__xs-4
                    a(href="#").actions__item
                        .actions__item--img: img(src="images/actions-img-3.png", alt="")
                        .actions__item--title: h4.text--primary Добавление партии тахографов
                .cell.cell__xs-4
                    a(href="#").actions__item
                        .actions__item--img: img(src="images/actions-img-4.png", alt="")
                        .actions__item--title: h4.text--primary Модели оборудования
                .cell.cell__xs-4
                    a(href="#").actions__item
                        .actions__item--img: img(src="images/actions-img-5.png", alt="")
                        .actions__item--title: h4.text--primary Помощь в использовании
                .cell.cell__xs-4
                    a(href="#").actions__item
                        .actions__item--img: img(src="images/actions-img-6.png", alt="")
                        .actions__item--title: h4.text--primary Задать вопрос
                .cell.cell__xs-4
                    a(href="#").actions__item
                        .actions__item--img: img(src="images/actions-img-7.png", alt="")
                        .actions__item--title: h4.text--primary Добавление партии СКЗИ