main.page-main
    include ../components/_breadcrumbs
    section.index-white
        .container
            h1= title
            .attention
                .attention__item.cell__md-3.text__md--right.text--center
                    img(src="images/attetion-img.png", alt="")
                .attention__item.text__md--left.text--center
                    p.text__lg: b Уважаемые посетители!
                    p.text__md.text--grey Прежде чем писать обращение, пожалуйста, внимательно ознакомьтесь со следующей
                        br
                        | информацией.
            .message
                .cell__lg-10.center-block
                    p Обращения, направленные в электронном виде через официальный сайт Портала системы тахографическрнр контроля, поступают на рассмотрение в отдел документообеспечения.
                    blockquote
                        p Ответ автору обращения направляется по его выбору:
                        ul.list--line.text--grey
                            li в форме электронного документа, если автором указаны фамилия, имя, отчество (последнее – при наличии) и адрес электронной почты (e-mail);
                            li в письменной форме, если автором указаны фамилия, имя, отчество (последнее – при наличии), адрес электронной почты (e-mail) и почтовый адрес.
                    p Перед отправкой электронного обращения необходимо корректно заполнить анкету.
                        br
                        | Размер электронного обращения не может превышать 2000 знаков.
                        br
                        | Обращение может содержать вложенные документы и материалы в электронной форме в виде одного файла без архивирования. Размер файла вложения не может превышать 5 Мб. Для вложений допустимы следующие форматы файлов: txt, doc, docx, pptx, xlsx, rtf, xls, pps, ppt, pdf, jpg, bmp, png, tif, pcx, mp3, wma, avi, mp4, mkv, wmv, mov, flv. Иные форматы не обрабатываются в информационных системах Портала системы тахографическрнр контроля
                    blockquote
                        p По причинам технического характера может быть не рассмотрен текст:
                        ul.list--line.text--grey
                            li написанный по-русски с использованием латиницы;
                            li набранный целиком заглавными буквами;
                            li не разбитый на предложения.
                    p Обращения, направленные в электронном виде через официальный сайт Портала системы тахографическрнр контроля, поступают на рассмотрение в отдел документообеспечения.
                    blockquote
                        p Обращение не принимается к рассмотрению, если оно
                        ul.list--line.text--grey
                            li не адресовано Порталу системы тахографическрнр контроля;
                            li не содержит конкретных заявлений, жалоб, предложений или запросов.
                    p Ответ по существу не даётся на обращение, в котором содержатся нецензурные либо оскорбительные выражения.
                        br
                        | Информация о персональных данных авторов обращений, направленных в электронном виде, хранится и обрабатывается с соблюдением требований российского законодательства о персональных данных.
                    p Уведомление автору о ходе рассмотрения его обращения направляется по почтовому адресу или в электронном виде по адресу электронной почты (e-mail), указанным в анкете.
                    .text--center.margtop40
                        ul.list--inline
                            li: a.btn.btn--primary.btn__lg.text--uppercase(href="#") написать обращение
                            li: a(href="#"): b.text--primary Вернуться к списку услуг
