main.page-main
    section.index-grey
        .container
            .pull__md-right
                .btn__group
                    a.active.btn.btn--default.text__md(href="#") 2016
                    a.btn.btn--default.text__md(href="#") 2015
                    a.btn.btn--default.text__md(href="#") 2014
            h1.margtop0= title
            h2 Июнь
            .row.index-news
                .cell.cell__lg-4.cell__md-6.cell__xs-12
                    a(href="#").index-news__item
                        .index-news__item--desc.index-news__item--desc-nonimg
                            .date 16.10.2016
                            .index-news__item--title
                                h4 Генеральный директор ФБУ «Росавтотранс» Алексей Двойных награжден памятной медалью «70 лет великой победы»
                            .index-news__item--par
                                p.text--default В Санкт-Петербурге состоялось плановое заседание Межведомственной транспортной комиссии. Мероприятие прошло под председательством главы Комитета по транспорту Санкт-Петербурга Александра Головина.
                            .index-news__item--link.left
                                b.text--primary Подробнее
                .cell.cell__lg-4.cell__md-6.cell__xs-12
                    a(href="#").index-news__item
                        .index-news__item--desc.index-news__item--desc-nonimg
                            .date 16.10.2016
                            .media
                                .media__img: img(src="images/imgAva.png" alt="")
                                .media__body
                                    p.text__lg Александр Головин
                                    p.text--grey.text__xs Глава Комитета по транспорту
                                        br
                                        | Санкт-Петербурга
                            .index-news__item--par.index-news__item--pard
                                p.text--default: i “В Санкт-Петербурге состоялось плановое заседание Межведомственной транспортной комиссии. Мероприятие прошло под председательством главы Комитета по транспорту Санкт-Петербурга Александра Головина.”
                            .index-news__item--link.left
                                b.text--primary Подробнее
                .cell.cell__lg-4.cell__md-6.cell__xs-12
                    a(href="#").index-news__item
                        .index-news__item--img: img(src="images/news-img-2.jpg", alt="")
                        .index-news__item--desc
                            .date 16.10.2016
                            .index-news__item--title
                                h4 Генеральный директор ФБУ «Росавтотранс» Алексей Двойных награжден памятной медалью «70 лет великой победы»
                            .index-news__item--link.left
                                b.text--primary Подробнее
            h2 Май
            .row.index-news
                .cell.cell__lg-4.cell__md-6.cell__xs-12
                    a(href="#").index-news__item
                        .index-news__item--desc.index-news__item--desc-nonimg
                            .date 16.10.2016
                            .index-news__item--title
                                h4 Генеральный директор ФБУ «Росавтотранс» Алексей Двойных награжден памятной медалью «70 лет великой победы»
                            .index-news__item--par
                                p.text--default В Санкт-Петербурге состоялось плановое заседание Межведомственной транспортной комиссии. Мероприятие прошло под председательством главы Комитета по транспорту Санкт-Петербурга Александра Головина.
                            .index-news__item--link.left
                                b.text--primary Подробнее
                .cell.cell__lg-4.cell__md-6.cell__xs-12
                    a(href="#").index-news__item
                        .index-news__item--desc.index-news__item--desc-nonimg
                            .date 16.10.2016
                            .media
                                .media__img: img(src="images/imgAva.png" alt="")
                                .media__body
                                    p.text__lg Александр Головин
                                    p.text--grey.text__xs Глава Комитета по транспорту
                                        br
                                        | Санкт-Петербурга
                            .index-news__item--par.index-news__item--pard
                                p.text--default: i “В Санкт-Петербурге состоялось плановое заседание Межведомственной транспортной комиссии. Мероприятие прошло под председательством главы Комитета по транспорту Санкт-Петербурга Александра Головина.”
                            .index-news__item--link.left
                                b.text--primary Подробнее
            h2 Апрель
            .row.index-news
                .cell.cell__lg-4.cell__md-6.cell__xs-12
                    a(href="#").index-news__item
                        .index-news__item--desc.index-news__item--desc-nonimg
                            .date 16.10.2016
                            .index-news__item--title
                                h4 Генеральный директор ФБУ «Росавтотранс» Алексей Двойных награжден памятной медалью «70 лет великой победы»
                            .index-news__item--par
                                p.text--default В Санкт-Петербурге состоялось плановое заседание Межведомственной транспортной комиссии. Мероприятие прошло под председательством главы Комитета по транспорту Санкт-Петербурга Александра Головина.
                            .index-news__item--link.left
                                b.text--primary Подробнее
                .cell.cell__lg-4.cell__md-6.cell__xs-12
                    a(href="#").index-news__item
                        .index-news__item--desc.index-news__item--desc-nonimg
                            .date 16.10.2016
                            .media
                                .media__img: img(src="images/imgAva.png" alt="")
                                .media__body
                                    p.text__lg Александр Головин
                                    p.text--grey.text__xs Глава Комитета по транспорту
                                        br
                                        | Санкт-Петербурга
                            .index-news__item--par.index-news__item--pard
                                p.text--default: i “В Санкт-Петербурге состоялось плановое заседание Межведомственной транспортной комиссии. Мероприятие прошло под председательством главы Комитета по транспорту Санкт-Петербурга Александра Головина.”
                            .index-news__item--link.left
                                b.text--primary Подробнее
                .cell.cell__lg-4.cell__md-6.cell__xs-12
                    a(href="#").index-news__arch
                        img(src="images/arch-ico.png", alt="")
            include ../components/_paginator