main.page-500
    .container
        .row
            .cell.cell__lg-7.cell__md-8.cell__xs-12.pull-right
                h2 Что-то пошло не так
                p.text__md.margtop30.margbot30 По каким-то причинам на сервере произошла ошибка.
                    br
                    | Скорее всего мы знаем про эту проблему и скоро все исправим.
                a.btn.btn--primary.btn__lg.text--uppercase(href="/") на главную
            .cell.cell__md-4.cell__xs-12.visible__sm.visible__xs.text--center.margtop30
                img(src="images/500err-s.png", alt="")