main.page-index
    include ../components/_breadcrumbs
    section.page-404
        .container
            .row
                .cell.cell__lg-7.cell__md-8.cell__xs-12.pull-right
                    h2.margtop0 Неверный адрес страницы
                        br
                        | или такой страницы не существует
                    p.text__md.margtop30.margbot30 Убедитесь, пожалуйста, что вы ввели верный адрес.
                        br
                        | Если вы считаете, что это проблема в работе портала,
                        br
                        | скопируйте и пришлите нам адрес данной страницы.
                    a.btn.btn--primary.btn__lg.text--uppercase(href="/") на главную
                .cell.cell__md-4.cell__xs-12.visible__sm.visible__xs.text--center.margtop30
                    img(src="images/404err-s.png", alt="")