main.page-main
    include ../components/_breadcrumbs
    .container
        section.text--center
            .form-block
                .form-block__inner
                    form
                        h1= title
                        p.margbot20.text__lg Заполните данные вашего профиля
                        .cell__xlg-3.cell__lg-4.cell__md-5.center-block
                            .form__group
                                fieldset
                                    input.form-control(type='password', name='password', autocomplete='off')
                                    label Старый пароль
                            .form__group
                                fieldset
                                    input.form-control(type='password', name='password1', autocomplete='off')
                                    label Введите новый пароль
                            .form__group
                                fieldset
                                    input.form-control(type='password', name='password2', autocomplete='off')
                                    label Повторите пароль
                            .form__group
                                fieldset
                                    input.form-control(type='text', name='surname', autocomplete='off')
                                    label Фамилия
                            .form__group
                                fieldset
                                    input.form-control(type='text', name='name', autocomplete='off')
                                    label Имя
                            .form__group
                                fieldset
                                    input.form-control(type='text', name='surname2', autocomplete='off')
                                    label Отчество
                            .form__group
                                button.btn.btn__lg.btn--primary.btn--full.text--uppercase(type="submit") сохранить