main.page-main
    include ../components/_breadcrumbs
    .container
        section
            .attention.attention--dark
                .attention__item.text__md--right.text--center
                    img(src="images/attetion-img.png", alt="")
                .attention__item.text__md--left.text--center
                    p.text__lg: b Уважаемые посетители!
                    p.text__md.text--grey Прежде чем задавать вопрос, пожалуйста, ознакомьтесь с базой знаний, в которой максимально
                        br
                        |  детально и просто даны ответы на большиство вопросов от пользователей системы.
                .attention__item.text__md--right.text--center
                    a.btn.btn__lg.btn--primary.btn--full.text--uppercase.text--nowrap(href="#") перейти в вопросы и ответы
            .form-block
                .form-block__inner
                    form
                        .text__md--center.text--left
                            h1.margbot30= title
                        .cell__xlg-7.cell__lg-8.cell__md-10.center-block
                            .row
                                .cell.cell__sm-6.cell__xs-12
                                    .form__group
                                        fieldset
                                            input.form-control(type='text', name='name', autocomplete='off')
                                            label ФИО
                                .cell.cell__sm-6.cell__xs-12
                                    .form__group
                                        fieldset
                                            input.form-control(type='mail', name='mail', autocomplete='off')
                                            label Ваш e-mail
                                .cell.cell__xs-12
                                    .form__group
                                        +fieldTextarea('text', 'text', '', 'Вопрос', 8, '', false)
                            ul.list--table
                                li.cell__md-3.cell__xs-6
                                    fieldset.margright20
                                        input.form-control(type='text', name='name', autocomplete='off', required)
                                        label Код с картинки
                                        span *
                                li
                                    img.margright10(src="images/capcha.png", alt="")
                                    a(href="#"): img(src="images/reload.png", alt="")
                                li.hidden__xs.hidden__sm.text__md--right
                                    button.btn.btn__lg.btn--primary.text--uppercase(type="submit") отправить
                            .form__group.visible__sm.visible__xs
                                button.btn.btn__lg.btn--primary.text--uppercase(type="submit") отправить
                            p.margtop20
                                sup *
                                |  Поля, обязательные для заполнения