main.page-main
    include ../components/_breadcrumbs
    .container
        section
            .text--center
                h1= title
            .form-block
                .row
                    .cell__xs-8.center-block
                        .form-block__inner
                            form
                                .row
                                    .cell.cell__xs-6
                                        .form__group
                                            fieldset
                                                input.form-control.edited(type='text', name='name', autocomplete='off', value='Ковтун Оксана Николаевна')
                                                label ФИО
                                        .form__group
                                            fieldset
                                                input.form-control.edited(type='text', name='company', autocomplete='off', value='OOO «Интек»')
                                                label Организация
                                        .form__group
                                            fieldset
                                                input.form-control(type='mail', name='mail', autocomplete='off', required)
                                                label Ответ направить на e-mail адрес
                                    .cell.cell__xs-6
                                        .form__group
                                            +fieldTextarea('text', 'text', '', 'Текст сообщения', 8, '', false)
                                .text--right
                                    button.btn.btn__lg.btn--primary(type="submit") Отправить