main.page-main
    include ../components/_breadcrumbs
    .container
        section.text--center
            .form-block
                .form-block__inner
                    form
                        h1= title
                        p.margbot20.text__lg Для восстановления пароля необходимо ввести данные:
                        .cell__xlg-3.cell__lg-4.cell__md-5.center-block
                            .form__group
                                fieldset
                                    input.form-control(type='mail', name='mail', autocomplete='off')
                                    label Введите ваш e-mail
                            .form__group
                                button.btn.btn__lg.btn--primary.btn--full.text--uppercase(type="submit") отправить
                include ../components/_q-banner