main.page-main
    include ../components/_breadcrumbs
    .container
        section
            .form-block
                .form-block__inner
                    .cell__xlg-7.cell__lg-8.cell__md-9.center-block
                        .text--center
                            h1.margbot30= title
                            h2.margbot30 Для регистрации на портале необходимо:
                        .counter
                            span.counter__num 1
                            p.text__lg Скачать бланк для запроса доступов в Личный Кабинет портала.
                        .counter
                            span.counter__num 2
                            p
                                span.text__lg Заполнить бланк.&nbsp;
                                a.text--primary(href="#") Пример заполнения бланка
                        .counter
                            span.counter__num 3
                            p.text__lg Распечатать заполненный бланк.
                        .counter
                            span.counter__num 4
                            p.text__lg Отправить подписанный бланк в ФБУ «Росавтотранс»
                            p.text__lg по адресу: Адрес: 125480, г. Москва, ул. Героев Панфиловцев, д. 24
                            p: a.text--primary(href="#") Бланк для запроса на получение доступов на портал
                        .text--center.margtop30
                            a.btn.btn__lg.btn--primary.text--uppercase(href="#") скачать бланк
                include ../components/_q-banner