main.page-main
    include ../components/_breadcrumbs
    section.index-grey.index-grey--minih
        .container
            .search
                .search-bar
                    .input__group.form-block
                        fieldset
                            input.form-control(type="search", name="search")
                            label Вы ищете
                        .input__group--btn.mobile--btn
                            a.btn.btn--primary.btn__sm.text--uppercase(href='#')
                                img(src="images/ico-search.png", alt="")
                                |  найти
                h1= title
                .search-results
                    p По запросу «тахограф» найдено 2 совпадения
                    .search-results__item
                        h4 Вопросы и ответы
                        p
                            span.text--primary Тахограф
                            | ы
                        p
                            | Транспортные средства, подлежащие оснащению
                            span.text--primary  тахограф
                            | ами
                        ul.list--inline.text--grey
                            li  Главная страница
                            li  >
                            li  Вопросы и ответы
                    .search-results__item
                        h4 Вопросы и ответы
                        p
                            span.text--primary Тахограф
                            | ы
                        p
                            | Транспортные средства, подлежащие оснащению
                            span.text--primary  тахограф
                            | ами
                        ul.list--inline.text--grey
                            li  Главная страница
                            li  >
                            li  Вопросы и ответы
            include ../components/_q-banner