main.page-main
    include ../components/_breadcrumbs
    section.index-white
        .container
            h1= title
            .card-check.radiotab
                .radiotab--js
                    ul.list--inline
                        li.active
                            .radio
                                input(type="radio", id="chk5", value="deliver", name="radio", checked)
                                label(for="chk5") Тахограф
                        li
                            .radio
                                input(type="radio", id="chk4", value="card", name="radio")
                                label(for="chk4") СКЗИ
                        li
                            .radio
                                input(type="radio", id="chk3", name="radio")
                                label(for="chk3") Карта
                    .cell__xlg-3.cell__lg-4.cell__md-5
                        .radiotab--content.radiotab--content-1.active.form-block
                            form
                                .form__group
                                    fieldset
                                        input.form-control(type='text', name='num1', autocomplete='off', required)
                                        label Серийный номер
                                        span *
                                p
                                    sup *
                                    |  Поля, обязательные для заполнения
                                .margtop20
                                    button.btn.btn__lg.btn--primary.text--uppercase(type="submit") искать
                        .radiotab--content.radiotab--content-2.form-block
                            form
                                .form__group
                                    fieldset
                                        input.form-control(type='text', name='name', autocomplete='off', required)
                                        label Фамилия
                                        span *
                                .form__group
                                    fieldset
                                        input.form-control(type='text', name='company', autocomplete='off', required)
                                        label ИНН организации
                                        span *
                                p
                                    sup *
                                    |  Поля, обязательные для заполнения
                                .margtop20
                                    button.btn.btn__lg.btn--primary.text--uppercase(type="submit") искать
                        .radiotab--content.radiotab--content-3.form-block
                            form
                                .form__group
                                    fieldset
                                        input.form-control(type='text', name='num', autocomplete='off', required)
                                        label Номер карты
                                        span *
                                .form__group
                                    fieldset
                                        input.form-control.date.edited(type='text', name='date', autocomplete='off')
                                        label Дата действия
                                .form__group
                                    p Тип карты:
                                    ul.list--inline
                                        li
                                            .radio
                                                input(type="radio", id="chk", name="radio2", checked)
                                                label(for="chk") РФ
                                        li
                                            .radio
                                                input(type="radio", id="chk1", name="radio2")
                                                label(for="chk1") ЕСТР
                                p
                                    sup *
                                    |  Поля, обязательные для заполнения
                                .margtop20
                                    button.btn.btn__lg.btn--primary.text--uppercase(type="submit") искать