main.page-main
    include ../components/_breadcrumbs
    section.index-white
        .container
            h1= title
            .sitemap
                .row
                    .cell.cell__lg-3.cell__md-6.cell__xs-12
                        ul.list--unstyled.sitemap-menu
                            li.title: b О тахографическом контроле
                            li: a(href="#") Зачем он нужен?
                            li: a(href="#") Как осуществляется?
                            li: a(href="#") Надзорные органы
                            li.parent.submenu--js: a(href="#") Каталог моделей оборудования
                                ul.list--unstyled.submenu
                                    li: a(href="#") Модели тахографов
                                    li: a(href="#") Модели СКЗИ
                                    li: a(href="#") Модели карт тахографа
                            li: a(href="#") Новости
                    .cell.cell__lg-3.cell__md-6.cell__xs-12
                        ul.list--unstyled.sitemap-menu
                            li.title: b Услуги портала
                            li: a(href="#") Водителям
                            li: a(href="#") Автопредприятиям
                            li: a(href="#") Мастерским
                            li: a(href="#") Проверка оборудования
                            li: a(href="#") Проверка тахографической карты
                            li: a(href="#") Задать вопрос
                            li: a(href="#") Написать обращение
                    .cell.cell__lg-3.cell__md-6.cell__xs-12
                        ul.list--unstyled.sitemap-menu
                            li.title: b Вопросы и ответы
                            li: a(href="#") Ответственность
                            li.parent.submenu--js: a(href="#") Тахографы
                                ul.list--unstyled.submenu
                                    li: a(href="#") Оснащение транспортного средства
                                    li: a(href="#")  "Заказчик" установки тахографа
                                    li: a(href="#")  Транспортные средства, подлежащие оснащению тахографами
                                    li: a(href="#")  Ошибки при установке тахографа
                                    li: a(href="#")  Транспортные средства на которые устанавливаются тахографы
                                    li: a(href="#") Порядок обслуживания тахографа
                            li.parent.submenu--js: a(href="#") Блоки СКЗИ
                                ul.list--unstyled.submenu
                                    li: a(href="#") Порядок утилизации
                            li.parent.submenu--js: a(href="#") Тахографические карты
                                ul.list--unstyled.submenu
                                    li: a(href="#") Получение карт тахографа
                                    li: a(href="#")  Использование карт тахографа
                            li.parent.submenu--js: a(href="#") Перевозки
                                ul.list--unstyled.submenu
                                    li: a(href="#") Получение карт тахографа
                                    li: a(href="#") Порядок совершения перевозок
                                    li: a(href="#") Порядок контроля совершения перевозок
                            li.parent.submenu--js: a(href="#") Оборудование
                                ul.list--unstyled.submenu
                                    li: a(href="#") Проверка оборудования
                            li: a(href="#") Лицензирование
                    .cell.cell__lg-3.cell__md-6.cell__xs-12
                        ul.list--unstyled.sitemap-menu
                            li.title: b Где купить и установить?
                            li: a(href="#") Пункты выдачи карт
                            li: a(href="#") Мастерские
                        ul.list--unstyled.footer-sitemap-m
                            li: a(href="#"): b Нормативные документы
                            li: a(href="#"): b Контакты
            include ../components/_q-banner