main.page-main
    include ../components/_breadcrumbs
    .container
        section
            .relative
                h1= title
                .absolite-content.top
                    ul.list--inline
                        li
                            img(src="images/tah-ico-3.png", alt="")
                            a(href="#"): b.text--primary Добавить СКЗИ
                        li
                            img(src="images/tah-ico-4.png", alt="")
                            a(href="#"): b.text--primary Добавить новую партию СКЗИ
            form.catalog-tah.form-block
                .catalog-tah__inner
                    .catalog-tah__item.t20
                        fieldset
                            input.form-control(type='text', name='num', autocomplete='off', required)
                            label Номер СКЗИ
                    .catalog-tah__item.t35
                        fieldset
                            input.form-control.edited.date(type='text', name='date2', autocomplete='off', required)
                            label Дата изготовления
                    .catalog-tah__item.t15
                        select(style="width: 205px;")
                            option Статус
                            option Статус 1
                            option Статус 2
                            option Статус 3
                    .catalog-tah__item
                        button.btn.btn--primary.btn__lg(type="submit") найти
                    .catalog-tah__item
                        a.search-adv.search-adv--js(href="#") Расширенный поиск
                .catalog-tah__hide
                    .catalog-tah__inner
                    .catalog-tah__inner
                        .catalog-tah__item.t25
                            select(style="width: 285px;")
                                option Выбор модели
                                option Выбор модели
                                option Выбор модели
                                option Выбор модели
                        .catalog-tah__item.t25
                            fieldset
                                input.form-control.edited(type='text', name='num5', autocomplete='off', value="Дополнительная плата: V112", required)
                                label Номер версии ПО
                        .catalog-tah__item.t25
                            fieldset
                                input.form-control.date(type='text', name='date5', autocomplete='off', required)
                                label Дата поверки
                        .catalog-tah__item.t25
                            fieldset
                                input.form-control.date(type='text', name='date7', autocomplete='off',  required)
                                label Срок действия поверки
    .container-long
        section
            table.table.table--striped.table-catalog
                thead
                    tr
                        th.t5.text--center.relative
                            a(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false"): i.icon-cog
                            .dropdown-menu(aria-labelledby="dLabel")
                                .pull-right: img(src="images/icons/close.png", alt="")
                                h4 Отображаемые столбцы
                                .form__group
                                    +fieldCheckbox('Тип', 'table11', true)
                                    +fieldCheckbox('Название', 'table12', true)
                                    +fieldCheckbox('Дата добавления', 'table13', true)
                                    +fieldCheckbox('Файл', 'table14', true)
                                    +fieldCheckbox('Доступность', 'table15', true)
                                    +fieldCheckbox('Статус', 'table16', true)
                                    +fieldCheckbox('Действие', 'table17', true)
                                .form__group
                                    a.btn.btn--primary(href="#") Применить
                        th.t20
                            a(href=""): i.icon-sort
                            | Модель
                        th.t10
                            a(href=""): i.icon-sort
                            span.inline Номер
                                br
                                | версии ПО
                        th.t20
                            a(href=""): i.icon-sort
                            | Заводской номер
                        th.t12
                            a(href=""): i.icon-sort
                            span.inline  Дата
                                br
                                | изготовления
                        th.t12
                            a(href=""): i.icon-sort
                            | Статус
                        th.t10 В тахографе
                        th.t10 Действие
                tbody
                    tr
                        td &nbsp;
                        td Блок СКЗИ тахографа "НКМ-1" ИПФШ.467756.001
                        td.text--center 1.0
                        td 16C-740-10013563-16C3I00012313563
                        td 18.07.2016
                        td
                            i.icon-play-circled
                            span.inline  Активизирован
                        td Да
                        td &nbsp;
                    tr
                        td &nbsp;
                        td Блок СКЗИ тахографа "НКМ-1" ИПФШ.467756.001
                        td.text--center 1.0
                        td 16C-740-10012342-16C3I00012312342
                        td 24.06.2016
                        td
                            i.icon-play-circled
                            span.inline  Активизирован
                        td Да
                        td &nbsp;
                    tr
                        td.text--center: +fieldCheckbox('', 'table1', false)
                        td Блок СКЗИ тахографа "НКМ-1" ИПФШ.467756.001
                        td.text--center 1.0
                        td 16C-740-10011328-16C3I00012311328
                        td 01.01.2016
                        td
                            i.icon-ok-circled
                            span.inline  Учтен
                        td Нет
                        td
                            ul.list--inline
                                li: a(data-toggle='modal', href='#modal-edit'): img(src="images/icons/icoTable-3.png", alt="")
                                li: a(data-toggle='modal', href='#modal-skzi'): img(src="images/icons/icoTable-4.png", alt="")
                                li: a(data-toggle='modal', href='#modal-skziA'): img(src="images/icons/icoTable-5.png", alt="")
                    tr
                        td &nbsp;
                        td Блок СКЗИ тахографа "НКМ-1" ИПФШ.467756.001
                        td.text--center 1.0
                        td 16C-740-10012356-16C3I00012310056
                        td 01.01.2016
                        td
                            i.icon-cancel-circled
                            span.inline  Выведен
                                br
                                |  из эксплуатации
                        td Нет
                        td &nbsp;
                    tr
                        td.text--center: +fieldCheckbox('', 'table2', false)
                        td Блок СКЗИ тахографа "НКМ-1" ИПФШ.467756.001
                        td.text--center 1.0
                        td 16C-740-10013290-16C3I00012313290
                        td 19.07.2016
                        td
                            i.icon-stop-circled
                            span.inline  Архивирован
                        td Да
                        td
                            ul.list--inline
                                li: a(data-toggle='modal', href='#modal-img'): img(src="images/icons/icoTable-6.png", alt="")
                                li: a(data-toggle='modal', href='#modal-add'): img(src="images/icons/icoTable-5.png", alt="")
                                li: a(data-toggle='modal', href='#modal-sign'): img(src="images/icons/icoTable-4.png", alt="")
                    tr
                        td &nbsp;
                        td Блок СКЗИ тахографа "НКМ-1" ИПФШ.467756.001
                        td.text--center 1.0
                        td 16C-740-10013290-16C3I00012313290
                        td 30.06.2016
                        td
                            i.icon-play-circled
                            span.inline  Активизирован
                        td Да
                        td &nbsp;
                tfoot
                    tr
                        td(colspan="4")
                            ul.list--table
                                li
                                    +fieldCheckbox('Все', 'table6', false)
                                li: b Выбрано: 1
                                li
                                    select.select-actions(style="width: 290px;")
                                        option
                                        option(value="edit") Редактировать
                                        option(value="oarh") Разархивировать
                                        option(value="carh") Заархивировать
                                        option(value="add") Добавить в стоп-лист
                                        option(value="del") Утилизировать
                                li
                                    a.btn.btn--primary.btn-actions(href="#") Применить
                        td
                        td(colspan="3")
                            ul.list--table
                                li.select-transparent
                                    select(style="width: 180px;")
                                        option Выводить по  5
                                        option Выводить по  10
                                        option Выводить по  15
                                        option Выводить по  20
                                li 5 из 256
                                li
                                    include ../components/_paginator