main.page-main
    include ../components/_breadcrumbs
    section.index-grey.index-grey--minih
        .container
            h1= title
            p.text__lg.margbot30 Для работы на портале необходимо скачать и установить SSL сертификат
            ul.list--inline
                li: a.btn.btn--primary.btn__lg(href="#") Скачать SSL Сертификат
                li: a.text--primary(href="#") Установлю позже SSL сертификат
            a.text--primary(href="#")
                img(src="images/down-ico.png", alt="")
                |  Инструкция по установке SSL сертификата
    section.index-white
        .container
            .text-page
                .row
                    .cell.cell__md-6.cell__xs-12
                        .counter
                            span.counter__num 1
                            p
                                b SSL (Secure Sockets Layer)
                                |  — это протокол, который обеспечивает безопасную передачу данных по сети Интернет. При его использовании создается защищенное соединение между клиентом и сервером. Используется шифрование с открытым ключом для подтверждения подлинности передатчика и получателя. Безопасность канала связи обеспечивается с помощью двух элементов:
                            ul.list--bullet
                                li
                                    b Аутентификация
                                    |  — сертификат привязан к конкретному доменному имени (защита от фишинга).
                                li
                                    b Шифрование
                                    |  — преобразование передаваемой информации производится таким образом, что расшифровать ее можно лишь с использованием специального ключа (безопасность передаваемых паролей, например, при работе через публичные WiFi точки).
                            p Рекомендуется устанавливать SSL сертификаты для тех разделов сайта, где вашими пользователями вводится конфиденциальная информация (пароли, персональные и платежные данные).
                    .cell.cell__md-6.cell__xs-12
                        img(src="images/type-page.jpg", alt="")
                .row.margtop40
                    .cell.cell__md-6.cell__xs-12
                        img(src="images/type-page.jpg", alt="")
                    .cell.cell__md-6.cell__xs-12
                        .counter
                            span.counter__num 2
                            p
                                b SSL (Secure Sockets Layer)
                                |  — это протокол, который обеспечивает безопасную передачу данных по сети Интернет. При его использовании создается защищенное соединение между клиентом и сервером. Используется шифрование с открытым ключом для подтверждения подлинности передатчика и получателя. Безопасность канала связи обеспечивается с помощью двух элементов:
                            ul.list--bullet
                                li
                                    b Аутентификация
                                    |  — сертификат привязан к конкретному доменному имени (защита от фишинга).
                                li
                                    b Шифрование
                                    |  — преобразование передаваемой информации производится таким образом, что расшифровать ее можно лишь с использованием специального ключа (безопасность передаваемых паролей, например, при работе через публичные WiFi точки).
                            p Рекомендуется устанавливать SSL сертификаты для тех разделов сайта, где вашими пользователями вводится конфиденциальная информация (пароли, персональные и платежные данные).
            include ../components/_q-banner