main.page-main
    include ../components/_breadcrumbs
    .container
        section
            .relative
                h1= title
                .absolite-content.top
                    ul.list--inline
                        li
                            img(src="images/tah-ico-1.png", alt="")
                            a(href="#"): b.text--primary Добавить тахограф
                        li
                            img(src="images/tah-ico-2.png", alt="")
                            a(href="#"): b.text--primary Добавить новую партию тахографов
            form.catalog-tah.form-block
                .catalog-tah__inner
                    .catalog-tah__item.t20
                        fieldset
                            input.form-control(type='text', name='num', autocomplete='off')
                            label Номер тахографа
                    .catalog-tah__item.t35
                        fieldset
                            input.form-control.edited.date-range(type='text', name='date2', autocomplete='off', value="12 апреля 2016 - 15 апреля 2016")
                            label Дата изготовления
                    .catalog-tah__item.t15
                        select(style="width: 205px;")
                            option Статус
                            option Статус
                            option Статус
                            option Статус
                            option Статус в стоп-лист
                    .catalog-tah__item
                        button.btn.btn--primary.btn__lg(type="submit") найти
                    .catalog-tah__item
                        a.search-adv.search-adv--js(href="#") Расширенный поиск
                .catalog-tah__hide
                    h4 Тахограф
                    .catalog-tah__inner
                        .catalog-tah__item.t25
                            select(style="width: 285px;")
                                option Выбор модели
                                option Выбор модели
                                option Выбор модели
                                option Выбор модели
                        .catalog-tah__item.t25
                            fieldset
                                input.form-control.edited(type='text', name='num2', autocomplete='off', value="Дополнительная плата: V112", required)
                                label Номер версии ПО
                        .catalog-tah__item.t25
                            fieldset
                                input.form-control.edited.date(type='text', name='date3', autocomplete='off', value="12 апреля 2016", required)
                                label Дата поверки
                        .catalog-tah__item.t25
                            fieldset
                                input.form-control.edited.date-range(type='text', name='date4', autocomplete='off', value="12 апреля 2016 - 15 апреля 2016", required)
                                label Срок действия поверки
                    h4 СКЗИ
                    .catalog-tah__inner
                        .catalog-tah__item.t25
                            fieldset
                                input.form-control(type='text', name='num3', autocomplete='off', required)
                                label Номер СКЗИ
                        .catalog-tah__item.t25
                            fieldset
                                input.form-control.edited.date-range(type='text', name='date6', autocomplete='off', value="12 апреля 2016 - 15 апреля 2016", required)
                                label Дата изготовления
                        .catalog-tah__item.t25
                            select(style="width: 205px;")
                                option Статус
                                option Статус
                                option Статус
                                option Статус
                        .catalog-tah__item.t25 &nbsp;
                    .catalog-tah__inner
                        .catalog-tah__item.t25
                            select(style="width: 285px;")
                                option Выбор модели
                                option Выбор модели
                                option Выбор модели
                                option Выбор модели
                        .catalog-tah__item.t25
                            fieldset
                                input.form-control.edited(type='text', name='num5', autocomplete='off', value="Дополнительная плата: V112", required)
                                label Номер версии ПО
                        .catalog-tah__item.t25
                            fieldset
                                input.form-control.date(type='text', name='date5', autocomplete='off', required)
                                label Дата поверки
                        .catalog-tah__item.t25
                            fieldset
                                input.form-control.date(type='text', name='date7', autocomplete='off',  required)
                                label Срок действия поверки
            table.table.table--striped.table-catalog
                thead
                    tr
                        th.t5.text--center.relative
                            a(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false"): i.icon-cog
                            .dropdown-menu(aria-labelledby="dLabel")
                                .pull-right: img(src="images/icons/close.png", alt="")
                                h4 Отображаемые столбцы
                                .form__group
                                    +fieldCheckbox('Тип', 'table11', true)
                                    +fieldCheckbox('Название', 'table12', true)
                                    +fieldCheckbox('Дата добавления', 'table13', true)
                                    +fieldCheckbox('Файл', 'table14', true)
                                    +fieldCheckbox('Доступность', 'table15', true)
                                    +fieldCheckbox('Статус', 'table16', true)
                                    +fieldCheckbox('Действие', 'table17', true)
                                .form__group
                                    a.btn.btn--primary(href="#") Применить
                        th.t25
                            a(href=""): i.icon-sort
                            | Модель
                        th.t20
                            a(href=""): i.icon-sort
                            | Номер
                        th.t12
                            a(href=""): i.icon-sort
                            span.inline Дата
                                br
                                | изготовления
                        th.t12
                            a(href=""): i.icon-sort
                            span.inline  Дата
                                br
                                | поверки
                        th.t15
                            a(href=""): i.icon-sort
                            | Статус
                        th.t10 Действие
                tbody
                    tr
                        td.nopad(colspan='7')
                            table.table
                                tbody
                                    tr
                                        td.t5.text--center: +fieldCheckbox('', 'table1', false)
                                        td.t25.acc-title.acc-title--js
                                            i
                                            span.text--primary "ШТРИХ-ТахоRUS" SM 10042.00.00-13
                                        td.t20 ТУ 1547-754-25498777-2013
                                        td.t12 01.01.2016
                                        td.t12 01.01.2016
                                        td.t15
                                            i.icon-ok-circled
                                            span.inline  Учтен
                                        td.t10
                                            ul.list--inline
                                                li: a(data-toggle='modal', href='#modal-tahedit'): img(src="images/icons/icoTable-3.png", alt="")
                                                li: a(href=""): img(src="images/icons/icoTable-4.png", alt="")
                                                li: a(href=""): img(src="images/icons/icoTable-5.png", alt="")
                                tbody(style='display:none')
                                    tr
                                        td &nbsp;
                                        td.text--right Блок СКЗИ тахографа "НКМ-1" ИПФШ
                                        td 12Л222245454545
                                        td 01.01.2016
                                        td 01.01.2016
                                        td
                                            i.icon-play-circled
                                            span.inline  Активизировано
                                                br
                                                | после
                                        td &nbsp;
                    tr
                        td.nopad(colspan='7')
                            table.table
                                tbody
                                    tr
                                        td.t5.text--center: +fieldCheckbox('', 'table2', false)
                                        td.t25.acc-title.acc-title--js
                                            i
                                            span.text--primary "ШТРИХ-ТахоRUS" SM 10042.00.00-13
                                        td.t20 ТУ 1547-754-25498777-2013
                                        td.t12 01.01.2016
                                        td.t12 01.01.2016
                                        td.t15
                                            i.icon-ok-circled
                                            span.inline  Учтен
                                        td.t10
                                            ul.list--inline
                                                li: a(data-toggle='modal', href='#modal-tahedit'): img(src="images/icons/icoTable-3.png", alt="")
                                                li: a(href=""): img(src="images/icons/icoTable-4.png", alt="")
                                                li: a(href=""): img(src="images/icons/icoTable-5.png", alt="")
                                tbody(style='display:none')
                                    tr
                                        td &nbsp;
                                        td.text--right Блок СКЗИ тахографа "НКМ-1" ИПФШ
                                        td 12Л222245454545
                                        td 01.01.2016
                                        td 01.01.2016
                                        td
                                            i.icon-play-circled
                                            span.inline  Активизировано
                                                br
                                                | после
                                        td &nbsp;
                    tr
                        td.nopad(colspan='7')
                            table.table
                                tbody
                                    tr
                                        td.t5.text--center: +fieldCheckbox('', 'table3', false)
                                        td.t25.acc-title: span.text--primary "ШТРИХ-ТахоRUS" SM 10042.00.00-13
                                        td.t20 ТУ 1547-754-25498777-2013
                                        td.t12 01.01.2016
                                        td.t12 01.01.2016
                                        td.t15
                                            i.icon-stop-circled
                                            span.inline  Архивирован
                                        td.t10
                                            ul.list--inline
                                                li: a(href=""): img(src="images/icons/icoTable-6.png", alt="")
                    tr
                        td.nopad(colspan='7')
                            table.table
                                tbody
                                    tr
                                        td.t5.text--center: +fieldCheckbox('', 'table4', false)
                                        td.t25.acc-title.acc-title--js
                                            i
                                            span.text--primary "ШТРИХ-ТахоRUS" SM 10042.00.00-13
                                        td.t20 ТУ 1547-754-25498777-2013
                                        td.t12 01.01.2016
                                        td.t12 01.01.2016
                                        td.t15
                                            i.icon-ok-circled
                                            span.inline  Учтен
                                        td.t10
                                            ul.list--inline
                                                li: a(data-toggle='modal', href='#modal-tahedit'): img(src="images/icons/icoTable-3.png", alt="")
                                                li: a(href=""): img(src="images/icons/icoTable-4.png", alt="")
                                                li: a(href=""): img(src="images/icons/icoTable-5.png", alt="")
                                tbody(style='display:none')
                                    tr
                                        td &nbsp;
                                        td.text--right Блок СКЗИ тахографа "НКМ-1" ИПФШ
                                        td 12Л222245454545
                                        td 01.01.2016
                                        td 01.01.2016
                                        td
                                            i.icon-play-circled
                                            span.inline  Активизировано
                                                br
                                                | после
                                        td &nbsp;
                tfoot
                    tr
                        td(colspan="4")
                            ul.list--table
                                li
                                    +fieldCheckbox('Все', 'table6', false)
                                li: b Выбрано: 1
                                li
                                    select.select-actions(style="width: 240px;")
                                        option
                                        option(value="edit") Редактировать
                                        option(value="oarh") Разархивировать
                                        option(value="carh") Заархивировать
                                        option(value="add") Добавить в стоп-лист
                                        option(value="del") Утилизировать
                                li
                                    a.btn.btn--primary.btn-actions(href="#", disabled) Применить
                        td(colspan="4")
                            ul.list--table
                                li.select-transparent
                                    select(style="width: 180px;")
                                        option Выводить по  5
                                        option Выводить по  10
                                        option Выводить по  15
                                        option Выводить по  20
                                li 5 из 256
                                li
                                    include ../components/_paginator