main.page-main
    include ../components/_breadcrumbs
    section.index-white
        .container
            .text-page
                h1= title
                .row
                    .cell.cell__md-6.cell__xs-12
                        img(src="images/type-page.jpg", alt="")
                    .cell.cell__md-6.cell__xs-12
                        p
                            b SSL (Secure Sockets Layer)
                            |  — это протокол, который обеспечивает безопасную передачу данных по сети Интернет. При его использовании создается защищенное соединение между клиентом и сервером. Используется шифрование с открытым ключом для подтверждения подлинности передатчика и получателя. Безопасность канала связи обеспечивается с помощью двух элементов:
                        ul.list--bullet
                            li
                                b Аутентификация
                                |  — сертификат привязан к конкретному доменному имени (защита от фишинга).
                            li
                                b Шифрование
                                |  — преобразование передаваемой информации производится таким образом, что расшифровать ее можно лишь с использованием специального ключа (безопасность передаваемых паролей, например, при работе через публичные WiFi точки).
                        p Рекомендуется устанавливать SSL сертификаты для тех разделов сайта, где вашими пользователями вводится конфиденциальная информация (пароли, персональные и платежные данные).
            include ../components/_q-banner