main.page-main
    include ../components/_breadcrumbs
    .maps
        .maps-inner.maps-inner--wherebuy
            .container
                .inner
                    .catalog-tah.form-block.text--center.text__md--left
                        .catalog-tah__inner
                            .catalog-tah__item
                                select(style="width:100%;max-width: 258px;")
                                    option Выберите регион
                                    option Выберите регион
                                    option Выберите регион
                                    option Выберите регион
                                    option Выберите регион
                            .catalog-tah__item
                                p.margbot0 Вы участник перевозок:
                                ul.list--inline.margbot0
                                    li.radio
                                        input(type="radio", id="rf", name="rf", checked)
                                        label(for="rf") РФ
                                    li.radio
                                        input(type="radio", id="rf1", name="rf")
                                        label(for="rf1") ЕСТР
                            .catalog-tah__item
                                a.btn.btn--primary.btn__lg.text--uppercase(href="#") найти
                            .catalog-tah__item
                                a.text__md.link-dot(href="#") Расширенный поиск
                            .catalog-tah__item.text__md--right
                                a.btn.btn--primary.btn__lg.text--uppercase.hidden__md(href="#") показать рядом со мной
                                a.btn.btn--primary.btn__lg.text--uppercase.visible__md(href="#") показать
                .inner-bottom
                    ul.list--inline.margbot0
                        li.valign-m
                            img(src="images/wherebuy-ico-1.png", alt="")
                            span  Мастерская
                        li.valign-m
                            img(src="images/wherebuy-ico-2.png", alt="")
                            span  Пункт выдачи
                        li.valign-m
                            img(src="images/wherebuy-ico-3.png", alt="")
                            span  Пункт выдачи и мастерская
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2239.4117069992303!2d37.4064113160272!3d55.855522991532105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b5479acd1febdf%3A0xa92a001ba85e2960!2z0YPQuy4g0JPQtdGA0L7QtdCyLdCf0LDQvdGE0LjQu9C-0LLRhtC10LIsIDI0LCDQnNC-0YHQutCy0LAsIDEyNTQ4MA!5e0!3m2!1sru!2sru!4v1479406367008", frameborder="0", allowfullscreen)
    section.index-white
        .container
            .row.text__md
                .cell.cell__lg-4.cell__md-6.cell__xs-12.margbot40
                    ul.list--inline.margbot0
                        li: img(src="images/wherebuy-ico-3.png", alt="")
                        li: b Пункт выдачи и мастерская
                        li: span.text--grey РФ 0001
                    h4.text--primary ООО ЦЗИ "Флагман"
                    p.text--grey г. Санкт-Петербург, ул. Руставели, д.46, корп.1, лит.А
                        br
                        | ИНН 12454878
                .cell.cell__lg-4.cell__md-6.cell__xs-12.margbot40
                    ul.list--inline.margbot0
                        li: img(src="images/wherebuy-ico-2.png", alt="")
                        li: b Пункт выдачи
                    h4.text--primary ООО ЦЗИ "Флагман"
                    p.text--grey г. Санкт-Петербург, ул. Руставели, д.46, корп.1, лит.А
                        br
                        | ИНН 12454878
                .cell.cell__lg-4.cell__md-6.cell__xs-12.margbot40
                    ul.list--inline.margbot0
                        li: img(src="images/wherebuy-ico-2.png", alt="")
                        li: b Пункт выдачи
                    h4.text--primary ООО ЦЗИ "Флагман"
                    p.text--grey г. Санкт-Петербург, ул. Руставели, д.46, корп.1, лит.А
                        br
                        | ИНН 12454878
                .cell.cell__lg-4.cell__md-6.cell__xs-12.margbot40
                    ul.list--inline.margbot0
                        li: img(src="images/wherebuy-ico-1.png", alt="")
                        li: b Мастерская
                        li: span.text--grey РФ 0001
                    h4.text--primary ООО ЦЗИ "Флагман"
                    p.text--grey г. Санкт-Петербург, ул. Руставели, д.46, корп.1, лит.А
                        br
                        | ИНН 12454878
                .cell.cell__lg-4.cell__md-6.cell__xs-12.margbot40
                    ul.list--inline.margbot0
                        li: img(src="images/wherebuy-ico-2.png", alt="")
                        li: b Пункт выдачи
                    h4.text--primary ООО ЦЗИ "Флагман"
                    p.text--grey г. Санкт-Петербург, ул. Руставели, д.46, корп.1, лит.А
                        br
                        | ИНН 12454878
                .cell.cell__lg-4.cell__md-6.cell__xs-12.margbot40
                    ul.list--inline.margbot0
                        li: img(src="images/wherebuy-ico-2.png", alt="")
                        li: b Пункт выдачи
                    h4.text--primary ООО ЦЗИ "Флагман"
                    p.text--grey г. Санкт-Петербург, ул. Руставели, д.46, корп.1, лит.А
                        br
                        | ИНН 12454878
            include ../components/_paginator
            include ../components/_q-banner