main.page-main
    include ../components/_breadcrumbs
    .maps
        .maps-inner.maps-inner--work
            .container
                .inner
                    h2 ООО ЦЗИ "Флагман"
                    .maps-inner__item
                        p.text--grey.text__md Фактический адрес:
                        p.text__lg: b 127273, г. Москва, Сигнальный
                            br
                            | проезд, д. 19, стр. 5
                    .maps-inner__item
                        p.text--grey.text__md Телефон
                        p.text__lg: b +7 (499) 510 69-99
                    .maps-inner__item
                        p.text--grey.text__md E-mail:
                        p.text__lg: b mail@tksm.ru
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2239.4117069992303!2d37.4064113160272!3d55.855522991532105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b5479acd1febdf%3A0xa92a001ba85e2960!2z0YPQuy4g0JPQtdGA0L7QtdCyLdCf0LDQvdGE0LjQu9C-0LLRhtC10LIsIDI0LCDQnNC-0YHQutCy0LAsIDEyNTQ4MA!5e0!3m2!1sru!2sru!4v1479406367008", frameborder="0", allowfullscreen)
    section.index-white
        .container
            .workroom-info
                .workroom-info__item
                    p.text__md.text--grey Тип
                    ul.list--inline.margbot0
                        li.v-top.margtop10: img(src="images/work-ico.png", alt="")
                        li.text--left: b.text__lg Мастерская
                                br
                                | и пункт выдачи
                .workroom-info__item
                    p.text__md.text--grey ИНН
                    p: b.text__lg 14257577
                .workroom-info__item
                    p.text__md.text--grey Руководитель
                    p: b.text__lg Селезнев Олег Борисович
                .workroom-info__item
                    p.text__md.text--grey Почтовый адрес
                    p: b.text__lg 127006, г. Москва, ул. Садовая - Триумфальная, д. 4-10
    section.index-grey
        .container
            h2.margbot40 Данные, предоставленные организацией
            .row
                .cell.cell__lg-5.cell__md-4.cell__xs-12.text--grey.text--md
                    p Станция технического обслуживания «Формула» производит практически все виды работ по ремонту автомобилей. С какой бы проблемой к нам не обращались клиенты, каждого ожидает индивидуальный подход, решение проблемы в большинстве случаев и качественный ремонт. А пока вы ожидаете ремонта или заключения специалиста, у нас можно выпить свежесваренный кофе.
                .cell.cell__md-5.cell__xs-12.text--grey.text--md
                    p Почему выбирают наш автосервис
                    ul.list--bullet
                        li Мы являемся СТО полного цикла: от замены масла и шиномонтажа до слесарных, малярных и кузовных работ
                        li Специалисты нашего сервиса обладают большим опытом и имеют в наличии необходимые сертификаты
                        li Широкий спектр услуг, позволяющий решить практически любую проблему
                        li Гуманная стоимость работ
                .cell.cell__lg-2.cell__md-3.cell__xs-12
                    ul.list--unstyled.text__lg
                        li
                            img(src="images/ok.png", alt="")
                            |  Wi-Fi
                        li
                            img(src="images/ok.png", alt="")
                            |  Туалет
                        li
                            img(src="images/ok.png", alt="")
                            |  Зона отдыха
                        li
                            img(src="images/ok.png", alt="")
                            |  Кафе
                        li
                            img(src="images/ok.png", alt="")
                            |  Душ
                        li
                            img(src="images/ok.png", alt="")
                            |  Телевизор
    section.index-white
        .container
            h2.margbot30 Другие адреса данной организации
            .row.text__md.margbot40
                - for (var x = 1; x < 4; x++)
                    .cell.cell__lg-4.cell__md-6.cell__xs-12
                        p.text--grey РФ 0001
                        h5 Пункт выдачи Мастерская
                        h4.text--primary ООО ЦЗИ "Флагман"
                        p.text--grey г. Санкт-Петербург, ул. Руставели, д.46, корп.1, лит.А
                            br
                            | ИНН 12454878
                        a(href="#"): b.text--primary Показать на карте
            include ../components/_paginator
            include ../components/_q-banner