main.page-main
    include ../components/_breadcrumbs
    section.work-img
        .container
            h1= title
            p.text__lg В условиях Единого экономического пространства объем
                br
                |  двусторонних перевозок грузов между Республикой Казахстан
                br
                |  и Российской Федерацией существенно увеличился.
    section.index-white
        .container
            h1 Доступные сервисы
            .work-services
                .row
                    .cell.cell__md-4.cell__xs-12
                        .work-services__item
                            .work-services__item--img
                                img(src="images/moto-ico-2.png", alt="")
                            .work-services__item--title
                                h2 Где получить карты
                            ul.list--inline
                                li: a.margtop10.btn.btn--default(href="#") РФ
                                li: a.margtop10.btn.btn--default(href="#") ЕСТР
                                li: a.margtop10.btn.btn--default(href="#") Проверить статус
                    .cell.cell__md-4.cell__xs-12
                        .work-services__item
                            br
                            .work-services__item--img
                                img(src="images/moto-ico-3.png", alt="")
                            .work-services__item--title
                                h2 Вход в личный кабинет
    section.index-grey
        .container
            h1 Полезная информация на портале
            .drivers-info
                .row
                    .cell.cell__md-5.cell__xs-12
                        h2.text--primary Норматививная документация
                        p.text__md.text--grey В разделе описана работа с данными по тахографам: просмотр, поиск и управление ими...
                    .cell.cell__md-5.cell__xs-12.pull-right
                        h2.text--primary Ответственность за нарушения в сфере тахографии
                        p.text__md.text--grey В разделе описана работа с данными по тахографам: просмотр, поиск и управление ими...
                .row
                    .cell.cell__md-5.cell__xs-12
                        h2.text--primary О тахографическом контроле.
                        p.text__md.text--grey В разделе описана работа с данными по тахографам: просмотр, поиск и управление ими...
                    .cell.cell__md-5.cell__xs-12.pull-right
                        h2.text--primary Ответственность за нарушения в сфере тахографии
                        p.text__md.text--grey В разделе описана работа с данными по тахографам: просмотр, поиск и управление ими...
    include ../components/_question