//- mixins


//- menu
mixin menu(items)
    ul.main-nav__items
        each item in items
            - var cl  = ''
            - if(item.class !== false) cl='lk-style pull-right'
            li.main-nav__item(class=cl)
                a(href="#{item.href}", title="#{item.title}")
                    - if(item.img !== false)
                        img(src="#{item.img}", alt="")
                    span= item.title


//- form-input
mixin fieldInput(type, name, id, label, placeholder, data, required)
    input.form-control(type=type, name=name, id=id, placeholder=placeholder, data-label=data, required=required)
    label(for=id) #{label}

//- form-textarea
mixin fieldTextarea(name, id, label, placeholder, rows, data, required)
    label(for=id) #{label}
    textarea.form-control(name=name, id=id, placeholder=placeholder, rows=rows,  data-label=data, required=required)

//- form-checkbox
mixin fieldCheckbox(name, id, checked)
    .checkbox
        input(type="checkbox", id=id, checked=checked)
        label(for=id)=name

//- form-radio
mixin fieldRadio(name, id, label, checked)
    .radio
        input(type="radio", id=id, value=id, name=label, checked=checked)
        label(for=id)=name


//- maps-iframe
- var map = 'iframe src="putMapURLhere" width="100%" height="400" frameborder="0" style="pointer-events: none;" allowfullscreen></iframe';
