extends layouts/_default

block title
    title ООО "Интек"
    - var title = 'Авторизация'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_auth

block siteFooter
    include partials/_footer
