extends layouts/_default

block title
    title ООО "Интек"
    - var title = 'Проверка заявления на карту'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_card-check

block siteFooter
    include partials/_footer
