extends layouts/_default

block title
    title ООО "Интек"
    - var title = 'Модели тахографов'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_catalog-page

block siteFooter
    include partials/_footer
