extends layouts/_default

block title
    title ООО "Интек"
    - var title = '"ШТРИХ-ТахоRUS" SM 042.00.00-13'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_catalog-detail

block siteFooter
    include partials/_footer
