extends layouts/_default

block title
    title ООО "Интек"
    - var title = 'Нормативная база тахографического контроля'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_documents-page

block siteFooter
    include partials/_footer
