extends layouts/_default

block title
    title ООО "Интек"
    - var title = 'Водителям'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_drivers

block siteFooter
    include partials/_footer
