extends layouts/_default

block title
    title ООО "Интек"
    - var title = 'Тахографы'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_knowlege-list

block siteFooter
    include partials/_footer
