extends layouts/_default

block title
    title ООО "Интек"
    - var title = 'Вопросы и ответы'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_knowlege-page

block siteFooter
    include partials/_footer
