extends layouts/_default

block title
    title ООО "Интек"
    - var title = 'Транспортные средства, подлежащие оснащению тахографами'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_knowlege-detail

block siteFooter
    include partials/_footer
