extends layouts/_lk-default

block title
    title ООО "Интек"
    - var title = 'Добавить новую партию тахографов'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_lk-header

block siteMain
    include pages/_addp

block siteFooter
    include partials/_lk-footer
