extends layouts/_lk-default

block title
    title ООО "Интек"
    - var title = 'Тахограф "Drive Smart"'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_lk-header

block siteMain
    include pages/_catalog

block siteFooter
    include partials/_lk-footer
