extends layouts/_lk-default

block title
    title ООО "Интек"
    - var title = 'Доступные действия'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_lk-header

block siteMain
    include pages/_lk-index

block siteFooter
    include partials/_lk-footer
