extends layouts/_lk-default

block title
    title ООО "Интек"
    - var title = 'Список СКЗИ'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_lk-header

block siteMain
    include pages/_skzi-list

block siteFooter
    include partials/_lk-footer
