extends layouts/_default

block title
    title ООО "Интек"
    - var title = 'Обращения граждан'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_message

block siteFooter
    include partials/_footer
