extends layouts/_default

block title
    title ООО "Интек"
    - var title = 'Автотранспортным предприятиям'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_moto

block siteFooter
    include partials/_footer
