extends layouts/_default

block title
    title ООО "Интек"
    - var title = 'Архив новостей'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_news-arch

block siteFooter
    include partials/_footer
