extends layouts/_default-500

block title
    title ООО "Интек"
    - var title = 'Доступные действия'

block pageName
    -var pageName = "index"

block siteHeader
    //include partials/_header

block siteMain
    include pages/_page-500

block siteFooter
    //include partials/_footer
