extends layouts/_default

block title
    title ООО "Интек"
    - var title = 'Редактирование профиля'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_profile

block siteFooter
    include partials/_footer
