extends layouts/_default

block title
    title ООО "Интек"
    - var title = 'Задать вопрос'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_quest

block siteFooter
    include partials/_footer
