extends layouts/_default

block title
    title ООО "Интек"
    - var title = 'Восстановление пароля'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_recover-l

block siteFooter
    include partials/_footer
