extends layouts/_default

block title
    title ООО "Интек"
    - var title = 'Проверка оборудования'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_service-check

block siteFooter
    include partials/_footer
