extends layouts/_default

block title
    title ООО "Интек"
    - var title = 'Установка SSL сертификата'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_ssl

block siteFooter
    include partials/_footer
