extends layouts/_default

block title
    title ООО "Интек"
    - var title = 'Типовая страница'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_type

block siteFooter
    include partials/_footer
