extends layouts/_default

block title
    title ООО "Интек"
    - var title = 'Мастерским'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_work

block siteFooter
    include partials/_footer
