extends layouts/_default

block title
    title ООО "Интек"
    - var title = 'Где купить и установить'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_workroom

block siteFooter
    include partials/_footer
